{% extends 'internal/base_internal.html' %}

{% block title %}{{ super() }} | Inicio{% endblock title %}

{% block custom_css %}{% endblock custom_css %}

{% block page_content %}
<style>
input.submitted.ng-invalid{
  border-color:#f00;
}
</style>

<div class="row border-bottom white-bg dashboard-header">
    <div class="col-md-3">
        <h2><strong>Asignar Responsable a Laboratorio</strong></h2>
    </div>
</div>
<!--  wrapper wrapper-content animated fadeIn -->
<div class="col-md-offset-3 " style="width: 650px">
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <form class="horizontal-form" action="{{ url('internal:laboratory.assignMonitor',laboratory.pk) }}" method="post">
            {% csrf_token %}
		<div class="form-group">
          <label>Usuario Responsable (*)</label><br>
          <select name="comboBox_users">
            {% for user in users %}
              {% if laboratory.monitor.pk == user.pk %}
                <option selected>{{ user.pk }} - {{ user.get_full_name() }}</option>
              {% else %}
                <option>{{ user.pk }} - {{ user.get_full_name() }}</option>
              {% endif %}
            {% endfor %}
          </select>
          <br><span>Seleccione el usuario al cual se le asignará la responsabilidad del laboratorio</span>
        </div>
        <p>(*) Datos obligatorios</p>
        <div class="ibox-content form-group">
        <div class="col-md-offset-3">
          <button name="b_cancel"id="cancel" class="btn btn-w-m btn-white" formnovalidate>Cancelar</button>
          <button name="b_submit" type="submit" id="createButton" class="btn btn-w-m btn-success"> Registrar</button>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock page_content %}

{% block custom_js %}

{% endblock custom_js %}
