{% extends 'internal/base_internal.html' %}

{% block title %}{{ super() }} | Laboratorios{% endblock title %}

{% block custom_css %}

{% endblock custom_css %}

{% block page_content %}
{# template-variables #}
{% set form_action_url = url('internal:laboratory.edit', laboratory.pk) %}
{% set page_header = 'Editar Laboratorio' %}

{# /template-variables #}
{% include 'internal/laboratory/create.base.html' %}
<div id="myModal1" class="modal1">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="span-close close">&times;</span>
    <div class="modeal-center-content">
      <p>¿Seguro que desea modificarlo?</p>
      <button type="button" class="confirm btn btn-danger">Editar</button>
      <button type="button" class="span-close btn btn-primary">Cancelar</button>
    </div>
  </div>
</div>
{% endblock page_content %}

{% block custom_js %}
<script src="{{ static('js/laboratory.form.js') }}"></script>
<script>
$( document ).ready(function() {
  $(".myBtn1").click(function() {
    $("#myModal1").show();
    //var delete_url = $(this).attr("data-url");
    $(".confirm").click(function() {
      $('#form').submit();
    });
  });

  $(".span-close").click(function() {
    $("#myModal1").hide();
  });
});
$(".myBtn1").click(function(event) {
  event.preventDefault();
  return false;
});
</script>
{% endblock custom_js %}
