{% extends 'internal/base_internal.html' %}

{% block title %}{{ super() }} | Laboratorios{% endblock title %}

{% block custom_css %}
{% endblock custom_css %}

{% block page_content %}
<div class="row border-bottom white-bg dashboard-header">
    <div class="col-md-6">
        <h2><strong>Lista de Laboratorios Existentes</strong></h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ><div class="row">
  <div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <div class="row">
          <div class="col-md-3">
            <div class="input-group">
                <input type="text" class="form-control input-sm m-b-xs" id="mysearch" placeholder="Buscar">
                <span class="input-group-addon">
                    <i class="fa fa-search"></i>
                </span>
              </div>
          </div>
          <div class="col-md-2 col-md-offset-7">
            <a class="btn btn-primary pull-right" href="{{ url('internal:laboratory.create') }}">
            <i class="fa fa-plus"></i>
            Crear laboratorio
          </a>
          </div>

        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="lab-table">
              <thead>
                <tr>
                  <th>
                    N°
                  </th>
                  <th>
                    Nombre
                  </th>
                  <th>
                    Supervisor
                  </th>
                  <th>
                    Estado
                  </th>
                  <th>Acciones</th>
                  <th>Servicios</th>
                </tr>
              </thead>
              <tbody>
                {% for laboratory in laboratorys_list %}
                  <tr role="row">
                    <td>{{ loop.index }}</td>
                    <td>{{ laboratory.name }}</td>
                    <td>
                      {% if laboratory.supervisor %}
                        {{ laboratory.supervisor}}
                      {% endif %}
                    </td>
                    <td>
                      {% if laboratory.deleted %}
                        Eliminado
                      {% else %}
                        Activo
                      {% endif %}
                    </td>
                    <td class="text-left footable-visible footable-last-column">
                      <div class="btn-group">
                        <a  href="{{ url('internal:laboratory.show', laboratory.id) }}" class="btn-white btn">
                          <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                        {% if not laboratory.deleted %}
                        <a  href="{{ url('internal:laboratory.edit', laboratory.id) }}" class="btn-white btn">
                          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a>
                        <a class="myBtn1 btn-white btn" data-toggle="modal" data-target="#myModal1" data-url="{{ url('internal:laboratory.delete', laboratory.id) }}">
                          <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                        {% endif %}
                      </div>
                    </td>
                    <td>
                      <a href="{{ url('internal:laboratory.services_index', laboratory.id) }}" class="btn-white btn">Ver servicios</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="ibox-title">
              <label>Leyenda</label>
            </div>
            <div class="ibox-content">
              <nav>
                <i class="fa fa-eye" aria-hidden="true"></i> Visualizar |
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar |
                <i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
</div>
{# <div id="myModal1" class="modal inmodal confirm-modal-sm">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close pull-right" type="button" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
        <h6 class="modal-title">Confirmar Eliminación de Laboratorios</h6>
      </div>
      <!-- Modal content -->
      <div class="modal-body text-center">
        <p>¿Seguro que quiere eliminarlo?</p>
        <button type="button" class="delete-laboratory btn btn-danger">Eliminar</button>
        <button type="button" class="span-close btn btn-primary">Cancelar</button>
      </div>
    </div>
  </div>
</div> #}
<div id="myModal1" class="modal1">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="span-close close">&times;</span>
    <div class="modeal-center-content">
        <p>¿Seguro que quiere eliminarlo?</p>
        <button type="button" class="delete-laboratory btn btn-danger">Eliminar</button>
        <button type="button" class="span-close btn btn-primary">Cancelar</button>
    </div>
  </div>

</div>
<div class="message-container hidden">
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} data-tags="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
</div>
{% endblock page_content %}


{% block custom_js %}

<script type="text/javascript">
  if ($('.message-container .messages li')) {
  var msg = $('.message-container .messages li').first();
  $.extend(toastr.options, {"positionClass": "toast-bottom-right",});
  showToastr(msg.text(), msg.data('tags'));
}
</script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
<script src="{{ static('js/datatable-config.js') }}"></script>
<script type="text/javascript">

$(document).ready(function() {

    // DataTable
    var table = $('#lab-table').DataTable({
      "columnDefs": [
        { "orderable": false, "targets": 4 },
        { "searchable": false, "targets": 0 }
      ],
    });

    $('#mysearch').keyup(function(){
      table.search($(this).val()).draw() ;
});
} );

</script>

<script>
$( document ).ready(function() {
  $(".myBtn1").click(function() {
    $("#myModal1").show();
    var delete_url = $(this).attr("data-url");
    $(".delete-laboratory").click(function() {
      window.location.href = delete_url;
    });
  });

  $(".span-close").click(function() {
    $("#myModal1").hide();
  });
});
$(".myBtn1").click(function(event) {
  event.preventDefault();
  return false;
});
</script>
{% endblock custom_js %}
