{% extends 'internal/base_internal.html' %}

{% block title %}{{ super() }} | Inicio{% endblock title %}

{% block custom_css %}

{% endblock custom_css %}

{% block page_content %}

<div class="row border-bottom white-bg dashboard-header">
    <div class="col-md-3">
        <h2><strong>Detalle Laboratorio</strong></h2>
    </div>
</div>

<div class="page_title" data-url="{{ url('internal:laboratory.inventory_modal')}}" data-emp="{{ url('internal:laboratory.employee_modal')}}"></div>

  <div class="wrapper wrapper-content animated fadeInRight" >
    <div class="row">
      <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          {{ form.errors }}
          <form id="form" method="POST">
            <div class="row">
              {% csrf_token %}
              <div class="col-md-12 form-group">
                <label>Nombre de laboratorio</label>
                <input type="text" maxlength="50" disabled class="form-control" id="laboratory_name" required data-error="El nombre es obligatorio" placeholder="Ingrese nombre de laboratorio" value="{{ laboratory.name }}">
                <div class="help-block with-errors"></div>
              </div>

              <!--
              <div class="form-group">
                <label>Capacidad máxima de empleados</label>
                <input class="form-control" disabled name="laboratory_capacity" onkeydown="return FilterNmberInput(event)" onpaste="handlePaste(event)" id="capacity" type="number" min="5" max="10" value="{{ laboratory.capacity }}" required data-error="Ingrese un valor válido para capacidad de personal">
                <div class="help-block with-errors"></div>
              </div>
              -->
            </div>
            <div class="row">
              <div class="col-md-12 form-group">
                  {% if selected_users|length >0 %}
                  <label>Personal del laboratorio</label>
                  <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                      <thead>
                        <tr>
                          <th>N°</th>
                          <th>Nombre del empleado</th>
                          <th>Nombre de Usuario</th>
                          <th>Correo</th>
                          <th>Ver Roles</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for selected_user in selected_users %}
                          <tr class="gradeX">
                            <td>{{ loop.index }}</td>
                            <td>{{ selected_user }}</td>
                            <td>{{ selected_user.user.username }}</td>
                            <td>{{ selected_user.user.email }}</td>
                            <td><a data-toggle="modal" data-target="#myModal2" class="employee_modal btn btn-white" data-pk="{{ selected_user.pk }}" ><i class="fa fa-eye" aria-hidden="true"></i></a></td>
                          </tr>
                        {% endfor %}
                      </tbody>

                    </table>
                    <div class="form-group">
                      <label>Responsable de laboratorio</label>
                        <select class="form-control m-b" id="comboBox" disabled>
                          <option selected>-- Ningún Responsable Seleccionado --</option>
                          {% for selected_user in selected_users %}
                            {% if selected_user == laboratory.supervisor %}
                              <option id="{{ selected_user.pk }}" selected>{{ selected_user }}</option>
                            {% else %}
                              <option id="{{ selected_user.pk }}" >{{ selected_user }}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                    </div>
                  </div>
                  {% else %}
                  <label>No hay personal asignado a este laboratorio</label>
                  {% endif %}
              </div>
            </div>
            <!--
            <div class="row">
              <div class="form-group">
                <label>Horas de Servicio</label>
                  <select class="form-control m-b" id="comboBox_service_hours" disabled>
                    {% for service_hour in all_service_hours %}
                      {% if selected_service_hours.pk == service_hour.pk %}
                        <option id="{{ service_hour.pk }}" selected>De {{ service_hour.start_time }} a {{ service_hour.end_time }}</option>
                      {% else %}
                        <option id="{{ service_hour.pk }}">De {{ service_hour.start_time }} a {{ service_hour.end_time }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
              </div>
            </div>
            -->
            <div class="row">
              <div class="col-md-12 form-group">
                {% if selected_inventories|length > 0 %}
                <label>Inventarios para el laboratorio</label>
                <div class="table-responsive">
                  <table class="table table-striped table-bordered table-hover dataTables-example" >
                    <thead>
                      <tr>
                        <th>N°</th>
                        <th>Nombre de Inventario</th>
                        <th>Ubicación</th>
                        <th>Tipo de Inventario</th>
                        <th>Vista Rápida</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for inventory in selected_inventories %}
                        <tr class="gradeX">
                          <td>{{ loop.index }}</td>
                          <td>{{ inventory.name }}</td>
                          <td>{{ inventory.location }}</td>
                          <td>Inventario de {{ inventory.get_inventory_type_display() }}</td>
                          <td><a data-toggle="modal" data-target="#myModal1" class="inventory_modal btn btn-white" data-pk="{{ inventory.pk }}" ><i class="fa fa-eye" aria-hidden="true"></i></a></td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                {% else %}
                <label>No hay inventarios asignados a este laboratorio</label>
                {% endif %}
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 form-group">
              {% if selected_essaymethods|length > 0 %}
              <label>Pruebas realizables para este laboratorio </label>
              <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover dataTables-example" >
                  <thead>
                    <tr>
                      <th>Nombre de Prueba</th>
                      <th>Descripción</th>
                      <th>Precio(S/.)</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for essaymethod in selected_essaymethods %}
                      <tr class="gradeX">
                        <td>{{ essaymethod.name }}</td>
                        <td>{{ essaymethod.description }}</td>
                        <td>{{ essaymethod.price }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              {% else %}
              <label>No hay pruebas realizables asignadas a este laboratorio</label>
              {% endif %}
              </div>
            </div>
            <div class="col-md-offset-4">
              {% if not laboratory.deleted %}
                <a  href="{{ url('internal:laboratory.edit', laboratory.id) }}"  class="btn btn-primary">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  Editar
                </a>
              {% endif %}
              <a href="{{ url('internal:laboratory.index') }}" class="btn btn-white">Regresar</a>
            </div>
          </form>
        </div>

      </div>
    </div>
    </div>
  </div>

<div class="modal fade" role="dialog" id="myModal2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col-md-offset-4 col-md-4 text-center">
          <label class="modal-title">Roles de Empleado</label>
        </div>
      </div>
      <div class="modal-body">
        <table class="table roles_table">
          <thead>
            <tr>
              <th>#</th>
              <th>Rol</th>
              <th>Descripción</th>
            </tr>
          </thead>
          <tbody class="roles_content">

          </tbody>
        </table>
        <div class="empty_message">

        </div>
      </div>
      <div class="modal-footer">
        <div class="col-md-offset-4 col-md-4 text-center">
          <a class="btn btn-white" data-dismiss="modal">Aceptar</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" role="dialog" id="myModal1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col-md-offset-4 col-md-4 text-center">
          <label class="modal-title">Detalle de Inventario</label>
        </div>
      </div>
      <div class="modal-body">
        <div class="ibox">
          <div class="ibox-title">
            <h5>Datos Generales y Contenido</h5>
          </div>
          <div class="ibox-content">
            <table class="table">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Ubicación</th>
                  <th>Tipo de Inventario</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>
                    <div class="inner inventory_name"></div>
                  </th>
                  <th>
                    <div class="inner inventory_location"></div>
                  </th>
                  <th>
                    <div class="inner inventory_type"></div>
                  </th>
                </tr>
              </tbody>
            </table>

            <table class="table inventory_table">
              <thead class="header_table">

              </thead>
              <tbody class="content_table">

              </tbody>
            </table>
            <div class="inventory_empty">

            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-md-offset-4 col-md-4 text-center">
          <a class="btn btn-white" data-dismiss="modal">Cancelar</a>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock page_content %}

{% block custom_js %}
<script type="text/javascript">
  //var selected_users = [];
  var capacity_users;
  var counting = {{ selected_users|length }};
  var to_out;

  function handlePaste (e) {
    var clipboardData, pastedData;

    // Get pasted data via clipboard API
    clipboardData = e.clipboardData || window.clipboardData;
    pastedData = clipboardData.getData('Text').toUpperCase();

    if(pastedData.indexOf('E')>-1) {
        //alert('found an E');
        e.stopPropagation();
        e.preventDefault();
    }
};

  function FilterNmberInput(event) {
    var keyCode = ('which' in event) ? event.which : event.keyCode;

    isNotWanted = (keyCode == 69 || keyCode == 101);
    return !isNotWanted;
};

  //cuando se invalida data
  /*
  $('#capacity').on('invalid.bs.validator', function(){
    //$('#users_selection').hide();
    $('input:checkbox[id^="checkbox_users"]').prop('checked', false);
    //selected_users.length = 0;
    $('input:checkbox[id^="checkbox_users"]').attr('disabled', 'true');
    counting = 0;
    //borrar todos los campos en responsable de laboratorio
    $('#comboBox').empty();
    $('#comboBox').append($('<option>', {
          text: "-- Ningún Responsable Seleccionado --"
        }));
  });
  */

  //cuando se valida la data
  /*
  $('#form').on('valid.bs.validator', function(){
    //$('#users_selection').show();
    $('input:checkbox[id^="checkbox_users"]').removeAttr('disabled');
    capacity_users = document.getElementById("capacity").value;
  });
  */

  /*
  var value = $('#capacity').val();
  $('#capacity').bind('keyup change click',function(){
    if (this.value < value){
      $('input:checkbox[id^="checkbox_users"]').prop('checked', false);
      counting = 0;
      $('#comboBox').empty();
      $('#comboBox').append($('<option>', {
          text: "-- Ningún Responsable Seleccionado --"
        }));
      capacity_users = document.getElementById("capacity").value;
      }
  });
  */

  //cuando se clickea en los checkboxes de usuarios de laboratorio
  /*
  $('input:checkbox[id^="checkbox_users"]').click(function() {
    if($(this).is(':checked')) {
      //selected_users.push(String(this.id));
      if ((counting + 1) <= capacity_users){
        counting = counting + 1;
        //selected_users.push(String(this.id)); //añadimos en el arreglo los ids de los usuarios //seleccionados
        $('#comboBox').append($('<option>', {
          text: String(this.name)
        }).attr('id',String(this.className)));
        console.log(String(this.name));
      } else {
        this.checked = false;
      }
    } else { //si el checkbox es unchecked
      //selected_users.splice(selected_users.indexOf(String(this.id)), 1); //quitamos del arreglo los ids de los usuarios los cuales fueron unchecked
      counting = counting - 1;
      to_out = String(this.name);
      $('#comboBox option').each(function(){
        if ($(this).text() == to_out){
          $(this).remove();
        }
      });
    }
  });
  */

  //cuando se clickea en el boton registrar

  /*
  $('#form').on('submit', function(evt){
    //evt.preventDefault();
    var $form = $(this);

    var name = $('<input>', {
      name: 'name',
      type: 'hidden'
    }).val($('#laboratory_name').val());
    $form.append(name);

    var capacity = $('<input>', {
      name: 'capacity',
      type: 'hidden'
    }).val($('#capacity').val());
    $form.append(capacity);


    $('input:checkbox[id^="checkbox_users"]:checked').each(function(){
      var employee = $('<input>', {
        name: 'employees',
        type: 'hidden'
      }).val($(this).attr('class'));
      $form.append(employee);
    });



    if ($('#comboBox option:selected').text == '-- Ningún Responsable Seleccionado --'){
      //$form.append($('<input>').attr('name', 'supervisor').val());
    } else {
      var supervisor = $('<input>', {
        name: 'supervisor',
        type: 'hidden'
      }).val($('#comboBox option:selected').attr('id'));
      $form.append(supervisor);
    }

    var service_hours = $('<input>', {
      name: 'service_hours',
      type: 'hidden'
    }).val($('#comboBox_service_hours option:selected').attr('id'));
    $form.append(service_hours);


    $('input:checkbox[id^="checkbox_inventory"]:checked').each(function(){
      var inventory = $('<input>', {
        name: 'inventory',
        type: 'hidden'
      }).val($(this).attr('name'));
      $form.append(inventory);
    });


    $('input:checkbox[id^="checkbox_essay"]:checked').each(function(){
      var essay = $('<input>', {
        name: 'essay_methods',
        type: 'hidden'
      }).val($(this).attr('name'));
      $form.append(essay);
    });

    //$form.submit();
    //console.log($form.serialize());
  });
  */

  /*
  $('#djform').on('submit', function(e) {
    e.preventDefault();
    console.log($(this).serialize());
    $(this).submit();
  });
  */

  $('.employee_modal').on('click',function(){
    var employee_pk = $(this).data('pk');
    var url = $('.page_title').data('emp');
    $('.roles_content').empty();
    $('.empty_message').empty();
    $('.roles_table').show();
    $.get(url, {'employee_pk': employee_pk}, function(data){
      var element_list = data['roles_data'];
      var element;
      var i;
      if (element_list.length == 0){
        $('.empty_message').append("<h4>No hay roles asociados a este empleado</h4>");
        $('.roles_table').hide();
      }
      else {
        for (i=0;i<element_list.length;i++){
          element = element_list[i];
          $('.roles_content').append("<tr>" + "<th>" + (i+1) + "</th>" + "<th>" + element[0] + "</th>" + "<th>" + element[1] + "</th>" + "</tr>");
        }
      }
    });
  });

  $('.inventory_modal').on('click',function(){
    var inventory_pk = $(this).data('pk');
    var url = $(".page_title").data("url");
    $('.content_table').empty();
    $('.header_table').empty();
    $('.inventory_empty').empty();
    $('.inventory_table').show();
    $.get(url, {'inventory_pk': inventory_pk},function(data){
      //General Data
      $('div.inventory_name').replaceWith("<div class='inner inventory_name'>" + data['inventory_name'] +"</div>");
      $('div.inventory_location').replaceWith("<div class='inner inventory_location'>" + data['inventory_location'] + "</div>");
      $('div.inventory_type').replaceWith("<div class='inner inventory_type'>" + data['inventory_type'] + "</div>");
      //Inventory Content Data
      var element_list = data['inventory_matches'];
      var element;
      var i;
      
      if (element_list.length == 0){
        $('.inventory_empty').append("<h4>No hay contenido en este inventario</h4>");
        $('.inventory_table').hide();
      }
      else {
        if (data['inventory_type'] == 'Equipos') {
          $('.header_table').append("<tr>" + "<th>#</th>" + "<th>Nombre</th>" + "<th>Unidad de tiempo</th>" + "<th>Tiempo de vida</th>" + "<th>Rango de error</th>" + "<th>Cantidad</th>" + "</tr>");
        }
        else if (data['inventory_type'] == 'Insumos'){
          $('.header_table').append("<tr>" + "<th>#</th>" + "<th>Nombre</th>" + "<th>Unidad métrica</th>" + "<th>Cantidad</th>" + "</tr>");
        }
        else{
        //$('.header_table').append("<thead><tr>" + "<th>#</th>" + "<th>Nombre</th>" + "<th>Unidad de tiempo vida</th>" + "<th>Tiempo de vida</th>" + "<th>Rango de error</th>" + "</tr></thead>");
        }

        for (i=0;i<element_list.length;i++){
          element = element_list[i];
          if (data['inventory_type'] == 'Equipos'){
            $('.content_table').append("<tr>" + "<th>" + (i+1) + "</th>" + "<th>" + element[0] + "</th>" +"<th>" + element[1] + "</th>" + "<th>" + element[2] + "</th>" + "<th>" + element[3] + "</th>" + "<th>" + element[4] + "</th>" + "</tr>");
          }
          else if (data['inventory_type'] == 'Insumos'){
            $('.content_table').append("<tr>" + "<th>" + (i+1) + "</th>" + "<th>" + element[0] + "</th>" +"<th>" + element[1] + "</th>" + "<th>" + element[2] + "</th>" + "</tr>");
          }
          else {
            //
          }
        }
      }
      
    });
  });

  </script>
{% endblock custom_js %}
