{% extends 'internal/base_internal.html' %}

{% block title %}{{ super() }} | Inicio{% endblock title %}

{% block custom_css %}{% endblock custom_css %}

{% block page_content %}
<div class="row border-bottom white-bg dashboard-header">
    <div class="col-md-6">
        <h2><strong>Editar Usuario</strong></h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" >
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <form action="{{ url('internal:user.edit', custom_user.id) }}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Nombres</label>
                                <input value="{{ custom_user.first_name }}" type="text" class="form-control" name="first_name">
                            </div>
                            <div class="form-group">
                                <label>Apellido Paterno</label>
                                <input value="{{ custom_user.last_name }}" type="text" class="form-control" name="last_name">
                            </div>
                            <div class="form-group">
                                <label>Apellido Materno</label>
                                <input value="{{ custom_user.surname }}" type="text" class="form-control" name="surname">
                            </div>
                            <div class="form-group">
                                <label>Dirección</label>
                                <input value="{{ custom_user.address }}" type="text" class="form-control" name="address">
                            </div>
                            <div class="form-group">
                                <label>Correo</label>
                                <input value="{{ custom_user.email }}" type="text" class="form-control" name="email">
                            </div>
                            <div class="form-group">
                                <label>Teléfono</label>
                                <input value="{{ custom_user.phone }}" type="text" class="form-control" name="phone">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Nombre de Usuario</label>
                                <input value="{{ custom_user.username }}" type="text" class="form-control" name="username">
                            </div>
                            <div class="form-group">
                                <label>Contraseña</label>
                                <input value="{{ custom_user.password }}" type="password" class="form-control" name="password">
                            </div>
                            <div class="form-group">
                                <select name="laboratories" class="form-control" multiple>
                                {% for laboratory in laboratories %}
                                    <option {{ 'selected' if (laboratory.id in selected_laboratories) }} value="{{ laboratory.id }}">{{ laboratory.name }}</option>
                                {% endfor %}
                                </select>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <select name="roles" class="form-control" multiple>
                            {% for role in roles %}
                                <option {{ 'selected' if (role.id in selected_roles) }} value="{{ role.id }}">{{ role.description }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="submit" value="Registrar" class="btn btn-primary">                            
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}
