{% extends 'base.html' %}

{% block title %}{{ super() }} - Error{% endblock title %}

{% block base_content %}
<div class="middle-box text-center animated fadeInDown">
  <h1>500</h1>
  <h3 class="font-bold">Error del Servidor</h3>
  <div class="error-desc">
    <p>
      Lo sentimos, ocurrió un error inesperado en el procesamiento de su solicitud.
      Por favor intente nuevamente, o regrese a la página anterior
    </p>
    {# <form class="form-inline m-t" role="form">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search for page">
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form> #}
    <a href="{{ url('internal:index') }}" class="btn btn-success">
      <i class="fa fa-home"></i>
      Volver al Inicio
    </a>
  </div>
</div>
{% endblock base_content %}
