<!DOCTYPE html>

<html lang="{% block html_language %}es{% endblock html_language %}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}Instituto para la Calidad - PUCP{% endblock title %}</title>

    <link rel="shortcut icon" href="{{ static('img/logo-pucp.jpg') }}" type="image/x-icon">

    {% block base_css %}
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
      <!-- Custom theme styles -->
      <link href="{{ static('css/style.css') }}" rel="stylesheet">
    {% endblock base_css %}
    {% block custom_css %}{% endblock custom_css %}
    {% block head_extras %}{% endblock head_extras %}
  </head>

  <body class="{% block body_class %}{% endblock body_class %}">

    {% block base_content %}{% endblock base_content %}

    {% block base_js %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% endblock base_js %}
    {% block custom_js %}{% endblock custom_js %}
  </body>
</html>
