{% extends 'internal/base_internal.html' %}

{% block title %}{{ super() }} | Inicio{% endblock title %}

{% block custom_css %}{% endblock custom_css %}

{% block page_content %}
<style>
  h1{
  font-size: 40px;
  }
</style>
<h1> Lista de Tipos de Ensayos </h1>
<tr>
  <th><br></th>
</tr>

<div class="table-responsive">
    <div style="margin-left: 700px;" class="col-sm-3">
        <div  class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
          <button type="button" class="btn btn-sm btn-success"> Buscar</button> </span></div>
    </div>
    <div>

    <table class="table table-striped">
        <thead>
        <tr>

            <th></th>
            <th>Nombre </th>
            <th>Descripcion </th>
            <th>Tipo Laboratorio</th>
            <th>Editar</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input type="checkbox"  checked class="i-checks" name="input[]"></td>
            <td><small>Tipo Ensayo 1</small></td>
            <td><span class="pie">Bla bla bla</span></td>
            <td>Corrosion</td>
            <td><a href="#"><i onclick="edit_row()" class="fa fa-pencil-square-o"></i></a></td>
        </tr>
                <tr>
            <td><input type="checkbox"   class="i-checks" name="input[]"></td>
            <td><small>Tipo Ensayo 2</small></td>
            <td><span class="pie">Bla bla bla</span></td>
            <td>Corrosion</td>
            <td><a href="#"><i onclick="edit_row()" class="fa fa-pencil-square-o"></i></a></td>
        </tr>
        <tr>
            <td><input type="checkbox"   class="i-checks" name="input[]"></td>
            <td><small>Tipo Ensayo 3</small></td>
            <td><span class="pie">Bla bla bla</span></td>
            <td>Corrosion</td>
            <td><a href="#"><i onclick="edit_row()" class="fa fa-pencil-square-o"></i></a></td>
        </tr>
        <tr>
            <td><input type="checkbox"   class="i-checks" name="input[]"></td>
            <td><small>Tipo Ensayo 4</small></td>
            <td><span class="pie">Bla bla bla</span></td>
            <td>Corrosion</td>
            <td><a href="#"><i onclick="edit_row()" class="fa fa-pencil-square-o" id="12345" ></i></a></td>
        </tr>
        </tbody>

    </table>
</div>
<div>
    <button type="button" id="deleteButton" class="btn btn-w-m btn-success">Eliminar</button>
</div>

    <script>
        function delete_rows() {
          var boxes = document.getElementsByClassName('i-checks');
          var leng = boxes.length;
          var initialLength = leng;
          for (var i = 0; i < leng;) {
          box = boxes[i];
          i++;
          if (box.checked) {
              rowTag = box.parentNode.parentNode;
              tableTag = box.parentNode.parentNode.parentNode;
              tableTag.removeChild(rowTag);
              i=0;
              leng=leng-1;

              toastr.options = {
              closeButton: true,
              progressBar: true,
              showMethod: 'slideDown',
              positionClass: "toast-bottom-right",
              timeOut: 4000
              };
              toastr.success('Se elimino con exito el tipo de ensayo Z'+' ', '');
          }
          if (i==initialLength){
              toastr.options = {
              closeButton: true,
              progressBar: true,
              showMethod: 'slideDown',
              positionClass: "toast-bottom-right",
              timeOut: 4000
              };
              toastr.error('No seleccionó ningun tipo de ensayo a eliminar', 'Error');
          }
        }
    }

    document.getElementById("deleteButton").addEventListener("click", delete_rows);

    </script>


    <!-- Mainly scripts -->
    <script src="js/jquery-2.1.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Peity-->
    <script src="js/plugins/peity/jquery.peity.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="js/inspinia.js"></script>
    <script src="js/plugins/pace/pace.min.js"></script>

    <!-- iCheck -->
    <script src="js/plugins/iCheck/icheck.min.js"></script>

    <!-- Peity -->
    <script src="js/demo/peity-demo.js"></script>

    <script>
        $(document).ready(function(){
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>



{% endblock page_content %}

{% block custom_js %}

{% endblock custom_js %}
