{% extends 'internal/base_internal.html' %}

{% block title %}{{ super() }} | Inicio{% endblock title %}

{% block custom_css %}{% endblock custom_css %}

{% block page_content %}

<h1> Lista de laboratorios </h1>
<table style="width:80%">
  <tr>
    <th>Nombre</th>
    <th>Tipo</th>
    <th>Cantidad de usuarios</th>
    <th>Capacidad</th>
    <th>Activo</th>
  </tr>
  <tr><th><br></th></tr>
  {% for q in lista_labs %}
  <tr>
    <th>{{q.labname}}</th>
    <th>{{q.typeLab}}</th>
    <th>{{q.numUser}}</th>
    <th>{{q.capacity}}</th>
    <th>{{q.active}}</th>
  </tr>
  {% endfor %}
</table>

{% endblock page_content %}

{% block custom_js %}
<script>
setTimeout(function() {
  toastr.options = {
    closeButton: true,
    progressBar: true,
    showMethod: 'slideDown',
    timeOut: 4000
  };
  toastr.success('Sistema de Gestión de Laboratorios IC-PUCP', 'Bienvenido');
}, 1300);
</script>
{% endblock custom_js %}
