;; 2013.01.21
;; yasushisakai
;;
;; gitignore for Django using pyCharm
;;

;;files to ignore
settings.py

;;extensions to ignore
*.log
*.pot
*.pyc

;;directories to ignore
.idea/

__pycache__/
node_modules/
env/

# Folder only used for collectstatic
laboratorios/staticfiles
