appdirs==1.4.3
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.4
defusedxml==0.5.0
Django==1.11.1
django-auditlog==0.4.3
django-jinja==2.3.0
django-jsonfield==1.0.1
django-safedelete==0.4.1
django-widget-tweaks==1.4.1
html5lib==1.0b10
httplib2==0.10.3
idna==2.5
Jinja2==2.9.6
MarkupSafe==1.0
oauthlib==2.0.2
olefile==0.44
packaging==16.8
Pillow==4.1.1
psycopg2==2.7.1 --no-binary psycopg2
pycparser==2.17
PyJWT==2.4.0
pylokit==0.8.1
pyparsing==2.2.0
PyPDF2==1.26.0
python3-openid==3.1.0
pytz==2017.2
reportlab==3.4.0
requests==2.18.1
requests-oauthlib==0.8.0
six==1.10.0
social-auth-app-django==1.2.0
social-auth-core==1.4.0
urllib3==1.21.1
webencodings==0.5.1
xhtml2pdf==0.2b1
