{% extends 'internal/base_internal.html' %}

{% block title %}{{ super() }} | Inicio{% endblock title %}

{% block custom_css %}{% endblock custom_css %}

{% block page_content %}
<div class="row  border-bottom white-bg dashboard-header">
</div>
{% endblock page_content %}

{% block custom_js %}
<script>
var user_name = '{{ user.username }}';
console.log(user_name);
setTimeout(function() {
  toastr.options = {
    closeButton: true,
    progressBar: true,
    showMethod: 'slideDown',
    timeOut: 4000
  };
  toastr.success('Sistema de Gestión de Laboratorios IC-PUCP', 'Bienvenido ' + user_name);
}, 1300);
</script>
{% endblock custom_js %}
