{% extends 'base.html' %}

{% block title %}{{ super() }} | Login{% endblock title %}

{% block body_class %}gray-bg{% endblock body_class %}

{% block custom_css %}
<style>
.errorlist {
  list-style: none;
  padding-left: 0;
}
</style>
{% endblock custom_css %}

{% block base_content %}
<h1 class="logo-name text-center">IC-PUCP</h1>
<div class="middle-box text-center loginscreen animated fadeInDown">
  <div>
    <h3>Bienvenido al Instituto para la Calidad - PUCP</h3>
    {# <p>
      Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
    </p> #}
    {# <p>Login in. To see it in action.</p> #}
    {% if form.errors %}
      <div class="alert alert-danger form-errors">
        {% for key, error in form.errors.items() %}
          {{ error }}
        {% endfor %}
      </div>
    {% endif %}
    {% if auth_message %}
      <div class="alert alert-danger form-errors">
        {{ auth_message }}
      </div>
    {% endif %}
    {% set message = messages.__iter__().__next__() %}
    {% if message %}
      <div class="alert alert-danger form-errors">
        {{ message }}
      </div>
    {% endif %}
    <form method="post" data-toggle="validator">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next or '/internal' }}">
      <div class="form-group">
        <input type="text" name="username" class="form-control" placeholder="Username" required="">
      </div>
      <div class="form-group">
        <input type="password" name="password" class="form-control" placeholder="Password" required="">
      </div>
      <div class="row">
        <div class="col-md-6">
          <input type="submit" class="btn btn-primary full-width block m-b" value="Ingresar">
        </div>
        <div class="col-md-6">
          <a class="btn btn-white full-width block m-b" href="{{ url('social:begin', 'google-oauth2') }}">
            <i class="fa fa-google"></i>
            Google
          </a>
        </div>
      </div>
    </form>
    <p class="m-t"> <small>Instituto para la Calidad PUCP</small></p>
  </div>
</div>
{% endblock base_content %}
