{% extends 'internal/base_internal.html' %}

{% block title %}{{ super() }} | Proveedores Externos{% endblock title %}

{% block custom_css %}
{% endblock custom_css %}

{% block page_content %}
<div class="row border-bottom white-bg dashboard-header">
  <div class="col-md-6">
    <h2><strong>{{ page_header }}</strong></h2>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="row">
            <div class="col-md-12">
              <form action="{{ action_url }}" method="POST" data-toggle="validator" id="externalprovider-form">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="name">Nombre *</label>
                      <input type="text" maxlength="100" class="form-control" name="name" required="" data-error="El nombre es obligatorio" placeholder="Proveedor" value="{% if provider %}{{ provider.name }}{% endif %}">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="description">Descripción</label>
                      <textarea name="description" cols="20" rows="5" class="form-control" maxlength="100" placeholder="Descripción">{% if provider %}{{ provider.description or '' }}{% endif %}</textarea>
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <input type="submit" class="btn btn-primary" form="externalprovider-form" value="Guardar">
                    <a href="{{ url('internal:externalprovider.index') }}" class="btn btn-white">Cancelar</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock page_content %}
