{% extends 'internal/base_internal.html' %}

{% block title %}{{ super() }} | Proveedores Externos{% endblock title %}

{% block custom_css %}
{% endblock custom_css %}

{% block page_content %}
<div class="row border-bottom white-bg dashboard-header">
  <div class="col-md-6">
    <h2><strong>Lista de Proveedores de Servicios</strong></h2>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" >
  <div class="row">
    <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <div class="row">
          <div class="col-md-3">
            <div class="input-group">
              <input type="text" class="form-control input-sm m-b-xs" id="mysearch" placeholder="Buscar">
              <span class="input-group-addon">
                <i class="fa fa-search"></i>
              </span>
            </div>
          </div>
          {% if perms.internal.add_externalprovider %}
          <div class="col-md-2 col-md-offset-7">
            <a class="btn btn-primary pull-right" href="{{ url('internal:externalprovider.create') }}">
              <i class="fa fa-plus"></i>
              Crear Proveedor
            </a>
          </div>
          {% endif %}
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="externalprovider-table">
              <thead>
                <tr>
                  <th>
                    N°
                  </th>
                  <th>
                    Nombre
                  </th>
                  <th>
                    Descripción
                  </th>
                  <th>
                    Estado
                  </th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                {% for provider in provider_list %}
                  <tr role="row">
                    <td>{{ loop.index }}</td>
                    <td>{{ provider.name }}</td>
                    <td>{{ provider.description }}</td>
                    <td>
                      {% if provider.deleted %}
                        Eliminado
                      {% else %}
                        Activo
                      {% endif %}
                    </td>
                    <td class="text-left">
                      <div class="btn-group">
                        {% if perms.internal.show_externalprovider %}
                          <a  href="{{ url('internal:externalprovider.show', provider.id) }}" class="btn-white btn">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                          </a>
                        {% endif %}
                        {% if not provider.deleted %}
                          {% if perms.internal.change_externalprovider %}
                            <a  href="{{ url('internal:externalprovider.edit', provider.id) }}" class="btn-white btn">
                              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                          {% endif %}
                          {% if perms.internal.delete_externalprovider %}
                            <a class="myBtn1 btn-white btn" data-url="{{ url('internal:externalprovider.delete', provider.id) }}">
                              <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                          {% endif %}
                        {% endif %}
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% include 'internal/layouts/legend.html' %}
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<div id="myModal1" class="modal1">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="span-close close">&times;</span>
    <div class="modeal-center-content">
        <p>¿Seguro que quiere eliminarlo?</p>
        <button type="button" class="delete-externalprovider btn btn-danger">Eliminar</button>
        <button type="button" class="span-close btn btn-primary">Cancelar</button>
    </div>
  </div>
</div>
{% endblock page_content %}

{% block custom_js %}
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
<script src="{{ static('js/datatable-config.js') }}"></script>
<script>
var table = $('#externalprovider-table').DataTable();

$('#mysearch').keyup(function(){
  table.search($(this).val()).draw() ;
});

$(".myBtn1").click(function() {
  $("#myModal1").show();
  var delete_url = $(this).attr("data-url");
  $(".delete-externalprovider").click(function() {
    window.location.href = delete_url;
  });
});

$(".span-close").click(function() {
  $("#myModal1").hide();
});
</script>
{% endblock custom_js %}
