{% extends 'internal/base_internal.html' %}

{% block title %}{{ super() }} | Empleados{% endblock title %}

{% block custom_css %}{% endblock custom_css %}

{% block page_content %}
<div class="row border-bottom white-bg dashboard-header">
  <div class="col-md-6">
    <h2><strong>Detalle de Proveedor de Servicio</strong></h2>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" >
  <div class="row">
    <div class="col-md-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" disabled="" value="{{ provider.name }}">
              </div>
              <div class="form-group">
                <label>Descripción</label>
                <input value="{{ provider.description or '' }}" type="text" class="form-control" disabled>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Órdenes de Servicio</label>
                <div class="table-responsive provider-service-table">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>N°</th>
                        <th>Cliente</th>
                        <th>Fecha</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for service in service_list %}
                        <tr>
                          <td>{{ loop.index }}</td>
                          <td>{{ service.client }}</td>
                          <td>{{ service.registered_date.strftime('%d/%m/%Y') }}</td>
                          <td>
                            <div class="btn-group">
                              <a href="{{ url('internal:servicerequest.show', service.id) }}" class="btn btn-white">
                                <i class="fa fa-eye"></i>
                              </a>
                            </div>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          {% set show_edit, show_delete = False, False %}
          {% include 'internal/layouts/legend.html' %}
          <div class="row">
            <div class="col-md-4">
              {% if not provider.deleted %}
                <a href="{{ url('internal:externalprovider.edit', provider.id) }}" class="btn btn-primary">
                  <i class="fa fa-edit"></i>
                  Editar
                </a>
              {% endif %}
              <a href="{{ url('internal:externalprovider.index') }}" class="btn btn-white">
                Regresar
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock page_content %}
