{% extends 'internal/base_internal.html' %}

{% block title %}{{ super() }} | Inicio{% endblock title %}

{% block custom_css %}{% endblock custom_css %}

{% block page_content %}

<div class="row border-bottom white-bg dashboard-header">
    <div class="col-md-3">
        <h2><strong>Crear Tipo Prueba</strong></h2>
    </div>
</div>

<div class="col-md-offset-3" style="width: 650px">
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <form class="horizontal-form">
        <div class="form-group">
          <label>Tipo de prueba</label>
          <input type="text" class="form-control" id="text_type" placeholder="Tipo de prueba" >
          <span>Ejemplo : Tipo de prueba 1</span>
        </div>
        <div class="form-group">
          <label>Descripción</label>
          <input type="text" class="form-control" id="text_description" placeholder="Ingrese una breve descripción">
        </div>
        <div class="form-group">
          <label>Tipo de Ensayo</label><br>
          <select name="comboBox_type">
            {% for lab_type in types %}
              <option>{{ lab_type.name }}</option>
            {% endfor %}
          </select>
          <br><span>Seleccione el tipo de Ensayo al cual pertenecerá</span>
        </div>
        <button type="button" id="createButton" class="btn btn-w-m btn-success">Registrar</button>
      </form>
    </div>
  </div>
</div>
{% endblock page_content %}

{% block custom_js %}

{% endblock custom_js %}
