{% extends 'internal/base_internal.html' %}

{% block title %}{{ super() }} | Inicio{% endblock title %}

{% block custom_css %}{% endblock custom_css %}

{% block page_content %}
<style>
  h1{
  font-size: 40px;
  }
</style>
<h2><strong> Lista de Tipos de Pruebas </strong></h2>
<tr>
  <th><br></th>
</tr>

<div class="table-responsive">
 <!--   <div style="float:left;" class="btn-group" class="col-sm-3">
      <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">Tipo Ensayo <span class="caret"></span></button>
      <ul id="listTypes" onclick="dropdown_filter_function()" class="dropdown-menu">
          <li><a>Tipo Ensayo 1</a></li>
          <li><a>Tipo Ensayo 2</a></li>
          <li><a>Tipo Ensayo 3</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
      </ul>
    </div> -->
   <fieldset>
     <legend><h3><strong>Filtrar por:</strong></h3></legend>
        <!--<div style="float:left;"> -->
        <div>
          <label class="col-lg-2 control-label">Tipo de ensayo</label>
          <select id="typeList">
            <option style="display:none;" selected> -- Selecciona una opcion -- </option>
            <option onclick="list_filter_function()">-- Borrar filtro --</option>
            <option onclick="list_filter_function()">Tipo ensayo 1</option>
            <option onclick="list_filter_function()">Tipo ensayo 2</option>
            <option onclick="list_filter_function()">Tipo ensayo 3</option>
            <option onclick="list_filter_function()">Tipo ensayo 4</option>
          </select>
        </div>
        <div>
          <br>
          <label class="col-sm-2" >Nombre</label>
          <div class="col-sm-3 input-group"><input type="text" placeholder="Search" id="text_search" onkeyup="text_search_function()" class="input-sm form-control">
            <span class="input-group-btn">
              <button type="button" class="btn btn-sm btn-success"> Buscar</button>
            </span>
          </div>
        </div>
   </fieldset>
  <table><tr><td><br><br></td></tr></table>
  <fieldset>
    <legend></legend>


    <div>

      <table class="table table-striped" id="mytable" >
          <thead>
          <tr>
              <th></th>
              <th>Nombre </th>
              <th>Descripcion </th>
              <th>Tipo Ensayo</th>
              <th>Editar</th>
          </tr>
          </thead>
          <tbody>
          <tr>
              <td><input type="checkbox"  checked class="i-checks" name="input[]"></td>
              <td><small>Tipo Prueba 1</small></td>
              <td><span class="pie">Bla bla bla</span></td>
              <td>Corrosion</td>
              <td><a href="#"><i onclick="edit_row()" class="fa fa-pencil-square-o"></i></a></td>
          </tr>
                  <tr>
              <td><input type="checkbox"   class="i-checks" name="input[]"></td>
              <td><small>Tipo Prueba 2</small></td>
              <td><span class="pie">Bla bla bla</span></td>
              <td>Tipo ensayo 1</td>
              <td><a href="#"><i onclick="edit_row()" class="fa fa-pencil-square-o"></i></a></td>
          </tr>
          <tr>
              <td><input type="checkbox"   class="i-checks" name="input[]"></td>
              <td><small>Tipo Prueba 3</small></td>
              <td><span class="pie">Bla bla bla</span></td>
              <td>Tipo ensayo 2</td>
              <td><a href="#"><i onclick="edit_row()" class="fa fa-pencil-square-o"></i></a></td>
          </tr>
          <tr>
              <td><input type="checkbox"   class="i-checks" name="input[]"></td>
              <td><small>Tipo Prueba 4</small></td>
              <td><span class="pie">Bla bla bla</span></td>
              <td>Tipo ensayo 1</td>
              <td><a href="#"><i onclick="edit_row()" class="fa fa-pencil-square-o" ></i></a></td>
          </tr>
          </tbody>

      </table>
    </div>
  </fieldset>

</div>
<div>
    <button type="button" id="deleteButton" class="btn btn-w-m btn-success">Eliminar</button>
</div>




    <script>
        var fill_Toastr = function(pMsg, pTypeMsg,pTitle){
            toastr.options = {
              closeButton: true,
              progressBar: true,
              showMethod: 'slideDown',
              positionClass: "toast-bottom-right",
              timeOut: 4000
              };

              switch(pTypeMsg){
                case "success":
                toastr.success(pMsg, '',pTitle);
                break;

                case "error":
                toastr.error(pMsg, '',pTitle);
                break;
              }
        }

        function delete_rows() {
          var boxes = document.getElementsByClassName('i-checks');
          var leng = boxes.length;
          var initialLength = leng;
          for (var i = 0; i < leng;) {
          box = boxes[i];
          i++;
          if (box.checked) {
              rowTag = box.parentNode.parentNode;
              tableTag = box.parentNode.parentNode.parentNode;
              tableTag.removeChild(rowTag);
              i=0;
              leng=leng-1;

              fill_Toastr('Se elimino con exito el tipo de ensayo Z'+' ', "success",'');
          }
          if (i==initialLength){
              fill_Toastr('No seleccionó ningun tipo de ensayo a eliminar', "error",'Error');
          }
        }
    }

    document.getElementById("deleteButton").addEventListener("click", delete_rows);

    </script>


    <!-- Mainly scripts -->
    <script src="js/jquery-2.1.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Peity-->
    <script src="js/plugins/peity/jquery.peity.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="js/inspinia.js"></script>
    <script src="js/plugins/pace/pace.min.js"></script>

    <!-- iCheck -->
    <script src="js/plugins/iCheck/icheck.min.js"></script>

    <!-- Peity -->
    <script src="js/demo/peity-demo.js"></script>

    <script>
        $(document).ready(function(){
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
    <script>
        function text_search_function() {
          var input, filter, table, tr, td, i;
          input = document.getElementById("text_search");
          filter = input.value.toUpperCase();
          table = document.getElementById("mytable");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
              if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                  tr[i].style.display = "";
              } else {
                  tr[i].style.display = "none";
              }
            }
          }
        }
    </script>
    <script>

        var fill_Toastr = function(pMsg, pTypeMsg,pTitle){
            toastr.options = {
              closeButton: true,
              progressBar: true,
              showMethod: 'slideDown',
              positionClass: "toast-bottom-right",
              timeOut: 4000
              };

              switch(pTypeMsg){
                case "success":
                toastr.success(pMsg, '',pTitle);
                break;

                case "error":
                toastr.error(pMsg, '',pTitle);
                break;
              }
        }
        function list_filter_function() {

          var input, filter, table, tr, td, i;
          input = document.getElementById("typeList");
          filter = input[input.selectedIndex].value;
          table = document.getElementById("mytable");
          tr = table.getElementsByTagName("tr");
          if (input.selectedIndex > -1)
          {
            if(filter == "-- Borrar filtro --")
            {
              for (i = 0; i < tr.length; i++) {
                tr[i].style.display = "";
              }
            }
            else
            {
              filter = filter.toUpperCase();
              for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[3];
                if (td) {
                  if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                      tr[i].style.display = "";
                  } else {
                      tr[i].style.display = "none";
                  }
                }
              }
            }
          }
        }
    </script>

{% endblock page_content %}

{% block custom_js %}

{% endblock custom_js %}
