{% extends 'internal/base_internal.html' %}

{% block title %}{{ super() }} | Pruebas{% endblock title %}

{% block custom_css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
<style>
.test-row:hover { cursor: pointer; }
</style>
{% endblock custom_css %}

{% block page_content %}
<div class="row border-bottom white-bg dashboard-header">
  <div class="col-md-6">
    <h2><strong>Pruebas</strong></h2>
    <ul class="breadcrumb">
      <li><a href="{{ url('internal:index') }}">Inicio</a></li>
      <li><a href="{{ url('internal:service.index') }}">Servicios</a></li>
      <li>
        <a href="{{ url('internal:essayfill.index', service_id=service.id) }}">Ensayos</a>
      </li>
      <li class="active">
        <a href="{{ url('internal:testfill.index', service_id=service.id, essay_id=essay.id) }}">Pruebas</a>
      </li>
    </ul>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="col-md-12">
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <div class="table-responsive">
          <table class="table table-striped toggle-arrow-tiny footable-loaded tablet breakpoint test-datatable">
            <thead>
              <tr>
                <th>Código</th>
                <th>Descripción</th>
                <th>Cliente</th>
              </tr>
            </thead>
            <tbody>
              {% for test in test_list %}
                <tr class="test-row"
                    data-url="{{ url('internal:testfill.show',
                      service_id=service.id,
                      essay_id=essay.id,
                      test_id=test.id) }}">
                  <td>{{ test.id }}</td>
                  <td>{{ test.description }}</td>
                  <td>{{ test }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock page_content %}

{% block custom_js %}
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="{{ static('js/datatable-config.js') }}"></script>

<script>
$('.test-datatable').DataTable({
  responsive: true,
  dom: '<"html5buttons"B>lTfgit',
  buttons: [
    {extend: 'copy'},
    {extend: 'csv'},
    {extend: 'excel', title: 'Servicios'},
    {extend: 'pdf', title: 'Servicios'},
  ]
});
</script>
<script>
$('.test-row').on('dblclick', function (e) {
  var $row = $(e.currentTarget);
  window.location.assign($row.data('url'));
});
</script>
{% endblock custom_js %}
