{% extends 'internal/base_internal.html' %}

{% block title %}{{ super() }} | Inicio{% endblock title %}

{% block custom_css %}{% endblock custom_css %}

{% block page_content %}


<div class="row wrapper border-bottom white-bg page-heading">
  <h2><strong>Tipos de Laboratorio</strong></h2>
  <div>
    <fieldset>
     <legend><h3><strong>Filtros</strong></h3></legend>
        <!--<div style="float:left;"> -->
      <div>
        <div class="form-group">
          <label class="col-md-2 control-label">Tipo de Ensayo: </label>
          <select id="typeListEssay">
            <option style="display:none;" selected> -- Selecciona una opcion -- </option>
            <option onclick="list_filter_function()">-- Borrar filtro --</option>
            {% for essaytype in essayType_list %}
              <option>{{ essaytype.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">Tipo de Muestra: </label>
          <select id="typeListSample">
            <option style="display:none;" selected> -- Selecciona una opcion -- </option>
            <option onclick="list_filter_function()">-- Borrar filtro --</option>
            {% for sampletype in sampleType_list %}
              <option>{{ sampletype.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div>
          <br>
          <label class="col-md-2" >Nombre</label>
          <div class="col-md-3 input-group"><input type="text" placeholder="Search" id="text_search" onkeyup="text_search_function()" class="input-sm form-control">
            <span class="input-group-btn">
              <button type="button" class="btn btn-sm btn-success"> Buscar</button>
            </span>
          </div>
        </div>
   </fieldset>
  </div>
  <div class="wrapper wrapper-content animated fadeIn">
      <div class="row">
        <div>
          <table class="table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Nombre </th>
                <th>Descripcion </th>
                <th>Activo</th>
                <th>Editar</th>
              </tr>
            </thead>
            <tbody>
              {% for labType in labType_list %}
                <tr>
                  <th>{{ labType.pk }}</th>
                  <th>{{ labType.name }}</th>
                  <th>{{ labType.description }}</th>
                  <th>
                    {% if labType.active %}
                      Activo
                    {% else %}
                      Inactivo
                    {% endif %}
                  </th>
                  <th><a href="#"><i onclick="edit_row()" class="fa fa-pencil-square-o"></i></a></th>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
  </div>

</div>


{% endblock page_content %}

{% block custom_js %}
<script>
setTimeout(function() {
  toastr.options = {
    closeButton: true,
    progressBar: true,
    showMethod: 'slideDown',
    timeOut: 4000
  };
  toastr.success('Sistema de Gestión de Laboratorios IC-PUCP', 'Bienvenido');
}, 1300);
</script>
{% endblock custom_js %}
