<!-- No sabotear pls -->
{% extends 'internal/base_internal.html' %}

{% block title %}{{ super() }} | Solicitud de Almacenamiento{% endblock title %}

{% block custom_css %}{% endblock custom_css %}



{% block page_content %}
<div class="row border-bottom white-bg dashboard-header">
    <div class="col-md-6">
        <h2><strong>Crear Solicitud de Almacenamiento</strong></h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" >
  <div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">

              <!--
              <div class="row">
                <div class="col-lg-12">
                  <div class="text-right">
                    <form action="../" style="display: inline;">
                      <button type="submit" value="Cancelar" class="btn btn-w-m btn-default" enable>Regresar</button>
                    </form>

                  </div>
                </div>
              </div>
               -->
                <form id="myForm" action="{{ url('internal:inventoryOrder.create') }}" method="post" data-toggle="validator">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Ensayo realizable - Muestra</label>
                          <select class="form-control m-b" name="Fakeessay" value="{{actualInventoryOrder.id}}" onchange="fillLabels(this.value)">
                              <option selected disabled></option>
                              {% for actualEssay in essayies %}
                                  <option value="{{ actualEssay.id }}">{{actualEssay.essay.name}} - {{actualEssay.sample.name}}</option>
                              {% endfor %}
                            </select>
                          <!--ABSOLUTAMENTE NECESARIO, POR NADA DEL MUNDO BORRAR-->
                          <input name="essay" value="{{ actualInventoryOrder.id }}" type="hidden"></input>
                          <input name="unsettled" value=True type="hidden"></input>
                        </div>
                    </div>
                  <!-- Si deseas mostrar los datos de la selecccion no se puede, Django no lo permite :( -->
                        <div class="ibox">
                          <div class="ibox-title">
                            Ensayo
                          </div>
                          <div class="ibox-content">
                            <div class="form-group">
                              <label>Nombre del Ensayo</label>
                              <input class="form-control" value="{{ actualInventoryOrder.essay.name }}" name="EssayName" disabled="true" type="text">
                            </div>
                            <div class="form-group">
                              <label>Descripción del Ensayo</label>
                              <input class="form-control" value="{{ actualInventoryOrder.essay.description }}" name="EssayDescription" disabled="true" type="text">
                            </div>
                          </div>
                        </div>
                        <div class="ibox">
                          <div class="ibox-title">
                            Muestra
                          </div>
                          <div class="ibox-content">
                            <div class="form-group">
                              <label>Codigo de la Muestra</label>
                              <input class="form-control" value="{{ actualInventoryOrder.sample.code }}" name="SampleCode" disabled="true" type="text">
                            </div>
                            <div class="form-group">
                              <label>Nombre de la Muestra</label>
                              <input class="form-control" value="{{ actualInventoryOrder.sample.name }}" name="SampleName" disabled="true" type="text">
                            </div>
                            <div class="form-group">
                              <label>Tipo de la Muestra</label>
                              <input class="form-control" value="{{ actualInventoryOrder.sample.sample_type.name }}" name="SampleTypeName" disabled="true" type="text">
                            </div>
                            <!--
                            <div class="form-group">
                              <label>Laboratorio</label>
                              <input class="form-control" value="{{ actualInventoryOrder.sample.inventory.name }}" name="SampleLaboratory" disabled="true" type="text">
                            </div>
                            -->
                          </div>
                        </div>

                        <div class="ibox">
                          <div class="ibox-title">
                            Solicitud
                          </div>
                          <div class="ibox-content">
                            <div class="form-group">
                              <label>Cliente</label>
                              <input class="form-control" value="{{ actualInventoryOrder.sample.request.client }}" name="RequestClient" disabled="true" type="text">
                            </div>
                            <div class="form-group">
                              <label>Prioridad</label>
                              <input class="form-control" value="{{ actualInventoryOrder.sample.request.priority }}" name="RequestPriority" disabled="true" type="text">
                            </div>
                            <div class="form-group">
                              <label>Supervisor</label>
                              <input class="form-control" value="{{ actualInventoryOrder.sample.request.supervisor }}" name="RequestSupervisor" disabled="true" type="text">
                            </div>
                            <div class="form-group">
                              <label>Estado de la solicitud</label>
                              <input class="form-control" value="{{ actualInventoryOrder.sample.request.state }}" name="RequestState" disabled="true" type="text">
                            </div>
                            <div class="form-group">
                              <label>Observaciones</label>
                              <input class="form-control" value="{{ actualInventoryOrder.sample.request.observations or '-' }}" name="RequestObservation" disabled="true" type="text">
                            </div>
                          </div>
                        </div>

                    <div class="row">
                      <div class="col-md-12 row form-group">
                        <p><strong>(*) Campos obligatorios</strong></p>
                      </div>
                      <div class="col-md-offset-4">
                        <input type="submit" value="Registrar" class="btn btn-primary">
                        <a class="btn btn-w-m btn-white js-back-btn">Cancelar</a>
                      </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock page_content %}

{% block custom_js %}
<script type="text/javascript">
function fillLabels(pkActual){
  var lol = pkActual;
  window.location.replace(lol);
}
</script>
{% endblock custom_js %}
