{% extends 'internal/base_internal.html' %}

{% block title %}{{ super() }} | Solicitudes de Almacenamiento{% endblock title %}

{% block custom_css %}{% endblock custom_css %}

{% block page_content %}
<div class="row border-bottom white-bg dashboard-header">
  <div class="col-md-6">
    <h2><strong>Editar Solicitud de Almacenamiento</strong></h2>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" >
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="row">
            <div class="col-md-12">
              <form id="myForm" action="{{ url('internal:inventoryOrder.edit', inventoryOrder.id, inventoryOrder.essay.id) }}" method="post" data-toggle="validator">
                {% csrf_token %}
                <div class="row">
                  <div class="col-lg-6">
                    <label>Ensayo realizable - Muestra</label>
                    <select class="form-control m-b" name="Fakeessay" onchange="fillLabels(this.value)">
                      <option selected disabled onselect="True"></option>
                      {% for actualEssay in essayies %}
                        <option value="{{ actualEssay.id }}">{{actualEssay.essay.name}} - {{actualEssay.sample.name}}</option>
                      {% endfor %}
                    </select>
                    <!--ABSOLUTAMENTE NECESARIO, POR NADA DEL MUNDO BORRAR-->
                    <input name="essay" value="{{ newinventoryOrder.id }}" type="hidden"></input>
                    <input name="unsettled" value=True type="hidden"></input>

                  </div>
                </div>
                <div class="row">
                      <div class="col-lg-6">
                        <div class="ibox-title">
                          Original
                        </div>
                        <div class="ibox-content">

                          <div class="ibox">
                            <div class="ibox-title">
                              Ensayo
                            </div>
                            <div class="ibox-content">
                              <div class="form-group">
                                <label>Nombre del Ensayo</label>
                                <input class="form-control" value="{{ inventoryOrder.essay.essay.name }}" name="NameEssay" disabled="true" type="text">
                              </div>
                              <div class="form-group">
                                <label>Descripción del Ensayo</label>
                                <input class="form-control" value="{{ inventoryOrder.essay.essay.description }}" name="NameDescription" disabled="true" type="text">
                              </div>
                            </div>
                          </div>
                          <div class="ibox">
                            <div class="ibox-title">
                              Muestra
                            </div>
                            <div class="ibox-content">
                              <div class="form-group">
                                <label>Codigo de la Muestra</label>
                                <input class="form-control" value="{{ inventoryOrder.essay.sample.code }}" name="SampleCode" disabled="true" type="text">
                              </div>
                              <div class="form-group">
                                <label>Nombre de la Muestra</label>
                                <input class="form-control" value="{{ inventoryOrder.essay.sample.name }}" name="SampleName" disabled="true" type="text">
                              </div>
                              <div class="form-group">
                                <label>Tipo de la Muestra</label>
                                <input class="form-control" value="{{ inventoryOrder.essay.sample.sample_type.name }}" name="SampleTypeName" disabled="true" type="text">
                              </div>
                              <div class="form-group">
                                <label>Laboratorio</label>
                                <input class="form-control" value="{{ inventoryOrder.essay.sample.inventory.name }}" name="SampleLaboratory" disabled="true" type="text">
                              </div>
                            </div>
                          </div>

                          <div class="ibox">
                            <div class="ibox-title">
                              Solicitud
                            </div>
                            <div class="ibox-content">
                              <div class="form-group">
                                <label>Cliente</label>
                                <input class="form-control" value="{{ inventoryOrder.essay.sample.request.client }}" name="RequestClient" disabled="true" type="text">
                              </div>
                              <div class="form-group">
                                <label>Prioridad</label>
                                <input class="form-control" value="{{ inventoryOrder.essay.sample.request.priority }}" name="RequestPriority" disabled="true" type="text">
                              </div>
                              <div class="form-group">
                                <label>Supervisor</label>
                                <input class="form-control" value="{{ inventoryOrder.essay.sample.request.supervisor }}" name="RequestSupervisor" disabled="true" type="text">
                              </div>
                              <div class="form-group">
                                <label>Estado de la solicitud</label>
                                <input class="form-control" value="{{ inventoryOrder.essay.sample.request.state }}" name="RequestState" disabled="true" type="text">
                              </div>
                              <div class="form-group">
                                <label>Observaciones</label>
                                <input class="form-control" value="{{ inventoryOrder.essay.sample.request.observations or '-' }}" name="RequestObservations" disabled="true" type="text">
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="ibox-title">
                          Modificado
                        </div>
                        <div class="ibox-content">
                            <div class="ibox">
                              <div class="ibox-title">
                                Ensayo
                              </div>
                              <div class="ibox-content">
                                <div class="form-group">
                                  <label>Nombre del Ensayo</label>
                                  <input class="form-control" value="{{ newinventoryOrder.essay.name }}" name="NewNameEssay" disabled="true" type="text">
                                </div>
                                <div class="form-group">
                                  <label>Descripción del Ensayo</label>
                                  <input class="form-control" value="{{ newinventoryOrder.essay.description }}" name="NewNameDescription" disabled="true" type="text">
                                </div>
                              </div>
                            </div>
                            <div class="ibox">
                              <div class="ibox-title">
                                Muestra
                              </div>
                              <div class="ibox-content">
                                <div class="form-group">
                                  <label>Codigo de la Muestra</label>
                                  <input class="form-control" value="{{ newinventoryOrder.sample.code }}" name="NewSampleCode" disabled="true" type="text">
                                </div>
                                <div class="form-group">
                                  <label>Nombre de la Muestra</label>
                                  <input class="form-control" value="{{ newinventoryOrder.sample.name }}" name="NewSampleName" disabled="true" type="text">
                                </div>
                                <div class="form-group">
                                  <label>Tipo de la Muestra</label>
                                  <input class="form-control" value="{{ newinventoryOrder.sample.sample_type.name }}" name="NewSampleTypeName" disabled="true" type="text">
                                </div>
                                <div class="form-group">
                                  <label>Laboratorio</label>
                                  <input class="form-control" value="{{ newinventoryOrder.sample.inventory.name }}" name="NewSampleLaboratory" disabled="true" type="text">
                                </div>
                              </div>
                            </div>
                            <div class="ibox">
                              <div class="ibox-title">
                                Solicitud
                              </div>
                              <div class="ibox-content">
                                <div class="form-group">
                                  <label>Cliente</label>
                                  <input class="form-control" value="{{ newinventoryOrder.sample.request.client }}" name="NewRequestClient" disabled="true" type="text">
                                </div>
                                <div class="form-group">
                                  <label>Prioridad</label>
                                  <input class="form-control" value="{{ newinventoryOrder.sample.request.priority }}" name="NewRequestPriority" disabled="true" type="text">
                                </div>
                                <div class="form-group">
                                  <label>Supervisor</label>
                                  <input class="form-control" value="{{ newinventoryOrder.sample.request.supervisor }}" name="NewRequestSupervisor" disabled="true" type="text">
                                </div>
                                <div class="form-group">
                                  <label>Estado de la solicitud</label>
                                  <input class="form-control" value="{{ newinventoryOrder.sample.request.state }}" name="RequestState" disabled="true" type="text">
                                </div>
                                <div class="form-group">
                                  <label>Observaciones</label>
                                  <input class="form-control" value="{{ newinventoryOrder.sample.request.observations or '-' }}" name="RequestObservations" disabled="true" type="text">
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                <div class="row">
                  <div class="col-md-12 row form-group">
                    <p><strong>(*) Campos obligatorios</strong></p>
                  </div>
                  <div class="col-lg-12">
                    <input type="submit" value="Registrar" class="btn btn-primary">
                    <a href="{{ url('internal:inventoryOrder.index') }}" class="btn btn-white">Cancelar</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock page_content %}

{% block custom_js %}
<script type="text/javascript">
function fillLabels(pkActual){
  var lol = pkActual;
  window.location.replace(lol);
}
</script>
{% endblock custom_js %}
