{% extends 'internal/base_internal.html' %}

{% block title %}{{ super() }} | Solicitudes de Almacenamiento de Muestras{% endblock title %}

{% block custom_css %}
<link href="{{ static('vendors/footable/footable.core.css') }}" rel="stylesheet">
{% endblock custom_css %}

{% block page_content %}
<div class="row border-bottom white-bg dashboard-header">
    <div class="col-md-6">
        <h2><strong>Solicitudes de Almacenamiento de Muestras</strong></h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" >
  <div class="row">
    <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <div class="row">
          <div class="col-md-3">
            <div class="input-group">
                 <input type="text" class="form-control input-sm m-b-xs" id="mysearch" placeholder="Buscar">
                <span class="input-group-addon">
                    <i class="fa fa-search"></i>
                </span>
              </div>
          </div>
          <div class="col-md-2 col-md-offset-7">

            <a class="btn btn-primary pull-right" href="{{ url('internal:inventoryOrder.create') }}">
              <i class="fa fa-plus"></i>
              Crear Solicitud de Almacenamiento
            </a>

            <a class="btn btn-primary pull-right" href="{{ url('internal:inventoryItem.index') }}">
              Inventario de Almacen
            </a>
          </div>

        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="inventoryOrder-table">
              <thead>
                <tr>
                  <th>
                    N°
                  </th>
                  <th>
                    Nombre
                  </th>
                  <th>
                    Tipo
                  </th>
                  <th>
                    Cliente
                  </th>
                  <th>
                    Estado
                  </th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                {% for inventoryOrder in inventoryOrder_list %}
                  <tr role="row">
                    <td>{{ loop.index }}</td>
                    <td>{{ inventoryOrder.essay.sample.name }} - Solicitud: {{ inventoryOrder.essay.sample.request }}</td>
                    <td>{{ inventoryOrder.essay.sample.sample_type.name }}</td>
                    <td>{{ inventoryOrder.essay.sample.request.client }}</td>
                    <td>
                      {% if inventoryOrder.deleted %}
                        Eliminado
                      {% else %}
                        Activo
                      {% endif %}
                    </td>
                    <td class="text-left footable-visible footable-last-column">
                      <div class="btn-group">
                        <a  href="{{ url('internal:inventoryOrder.show', inventoryOrder.id) }}" class="btn-white btn"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a class="myBtn2 btn-white btn" data-toggle="modal1" data-target="#myModal2" data-url="{{ url('internal:inventoryOrder.approve', inventoryOrder.id) }}" title="Aprobar">
                          <i class="fa fa-check"></i>
                        </a>
                        <a class="myBtn3 btn-white btn" data-toggle="modal1" data-target="#myModal3" data-url="{{ url('internal:inventoryOrder.reject', inventoryOrder.id) }}" title="Rechazar">
                          <i class="fa fa-times"></i>
                        </a>
                        {% if not inventoryOrder.deleted %}
                        <a  href="{{ url('internal:inventoryOrder.edit', inventoryOrder.id, inventoryOrder.essay.id) }}" class="btn-white btn">
                          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a>
                        <a class="myBtn1 btn-white btn" data-toggle="modal1" data-target="#myModal1" data-url="{{ url('internal:inventoryOrder.delete', inventoryOrder.id) }}">
                          <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                        {% endif %}
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<div id="myModal1" class="modal1">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="span-close close">&times;</span>
    <div class="modeal-center-content">
        <p>¿Seguro que quiere eliminarlo?</p>
        <button type="button" class="delete-inventoryOrder btn btn-danger">Eliminar</button>
        <button type="button" class="span-close btn btn-primary">Cancelar</button>
    </div>
  </div>
</div>

<!--Aprobar y Rechazar-->
<div id="myModal2" class="modal1">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="span-close close">&times;</span>
    <div class="modeal-center-content">
        <p>¿Seguro que desea aprobar la muestra seleccionada?</p>
        <button type="button" class="aprobar-inventoryOrder btn btn-success">Aprobar</button>
        <button type="button" class="span-close btn btn-primary">Cancelar</button>
    </div>
  </div>
</div>

<div id="myModal3" class="modal1">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="span-close close">&times;</span>
    <div class="modeal-center-content">
        <p>¿Seguro que desea rechazar la muestra seleccionada?</p>
        <button type="button" class="rechazar-inventoryOrder btn btn-danger" >Rechazar</button>
        <button type="button" class="span-close btn btn-primary" >Cancelar</button>
    </div>
  </div>
</div>


<div class="message-container hidden">
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} data-tags="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
</div>



{% endblock page_content %}

{% block custom_js %}
<script type="text/javascript">
  if ($('.message-container .messages li')) {
  var msg = $('.message-container .messages li').first();
  $.extend(toastr.options, {"positionClass": "toast-bottom-right",});
  toastr[msg.data('tags')](msg.text());
}
</script>

<script type="text/javascript">
  var fill_Toastr = function(pMsg, pTypeMsg,pTitle){
    toastr.options = {
    closeButton: true,
    progressBar: true,
    showMethod: 'slideDown',
    positionClass: "toast-bottom-right",
    timeOut: 4000
    };

    switch(pTypeMsg){
      case "success":
      toastr.success(pMsg, '',pTitle);
      break;

      case "error":
      toastr.error(pMsg, '',pTitle);
      break;
    }
  }

</script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
<script src="{{ static('js/datatable-config.js') }}"></script>
<script type="text/javascript">

$(document).ready(function() {

    // DataTable
    var table = $('#inventoryOrder-table').DataTable({
      "columnDefs": [
        { "orderable": false, "targets": 4 },
        { "searchable": false, "targets": 0 }
      ],
    });

  $('#mysearch').keyup(function(){
    table.search($(this).val()).draw() ;
  });
} );

</script>
<script>
$( document ).ready(function() {
  $(".myBtn1").click(function() {
    $("#myModal1").show();
    var delete_url = $(this).attr("data-url");

    $(".delete-inventoryOrder").click(function() {
      window.location.href = delete_url;
    });
  });

  $(".span-close").click(function() {
    $("#myModal1").hide();
  });
});
$(".myBtn1").click(function(event) {
  event.preventDefault();
  return false;
});
</script>

<!--Modal 1 para poder aprobar una solicitud-->
<script>
$( document ).ready(function() {
  $(".myBtn2").click(function() {
    $("#myModal2").show();
    var aprobar_url = $(this).attr("data-url");
    //window.alert(aprobar_url);
    $(".aprobar-inventoryOrder").click(function() {
      window.location.href = aprobar_url;
    });
  });

  $(".span-close").click(function() {
    $("#myModal2").hide();
  });
});
$(".myBtn2").click(function(event) {
  event.preventDefault();
  return false;
});
</script>
<!--Modal2, con myBtn3-->
<script>
$( document ).ready(function() {
  $(".myBtn3").click(function() {
    $("#myModal3").show();
    var rechazar_url = $(this).attr("data-url");
    $(".rechazar-inventoryOrder").click(function() {
      window.location.href = rechazar_url;
    });
  });

  $(".span-close").click(function() {
    $("#myModal3").hide();
  });
});
$(".myBtn3").click(function(event) {
  event.preventDefault();
  return false;
});
</script>
{% endblock custom_js %}
