<!--

{% extends 'internal/base_internal.html' %}

{% block title %}{{ super() }} | Aprobar Solicitudes de Almacenamiento de Muestras{% endblock title %}

{% block custom_css %}
{% endblock custom_css %}

{% block page_content %}
<div class="row border-bottom white-bg dashboard-header">
    <div class="col-md-6">
        <h2><strong>Aprobar Solicitudes de Almacenamiento de Muestras</strong></h2>
    </div>
</div>
<div class="wrapper wrapper-content animated" >
  <div class="row">
    <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-content">

        <div class="row">
          <div class="col-lg-12">
            <div class="text-right">
              <a class="btn btn-primary" href="{{ url('internal:inventoryItem.index') }}">Inventario de Almacen</a>
            </div>
          </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="employee_table">
              <thead>
                <tr>
                  <th>
                    Muestra
                  </th>
                  <th>
                    Tipo muestra
                  </th>
                  <th>
                    Cantidad
                  </th>
                  <th>
                    Cliente
                  </th>
                  <th>
                    Laboratorio
                  </th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>
                {% for inventoryOrder in inventoryOrder_list %}
                  <tr role="row">
                    <td>{{ inventoryOrder.essay.sample.name }}</td>
                    <td>{{ inventoryOrder.essay.sample.sample_type.name }}</td>
                    <td>{{ inventoryOrder.essay.quantity}}</td>
                    <td>{{ inventoryOrder.essay.sample.request.client }}</td>
                    <td>{{ inventoryOrder.essay.sample.inventory.name }}</td>

                    <td class="text-left footable-visible footable-last-column">
                      <div class="btn-group">
                        <a href="{{ url('internal:inventoryOrder.show', inventoryOrder.id) }}" class="btn-white btn"><i class="fa fa-eye" aria-hidden="true"></i></a>


                        <a class="myBtn1 btn-white btn" data-toggle="modal1" data-target="#myModal1" data-url="{{ url('internal:inventoryOrder.approve', inventoryOrder.id) }}">aprobar</i></a>
                        <a class="myBtn2 btn-white btn" data-toggle="modal1" data-target="#myModal2" data-url="{{ url('internal:inventoryOrder.reject', inventoryOrder.id) }}">rechazar</i></a>

                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<div id="myModal1" class="modal1">
  <!-- Modal content

-->

<!--
  <div class="modal-content">
    <span class="span-close close">&times;</span>
    <div class="modeal-center-content">
        <p>¿Seguro que desea aprobar la muestra seleccionada?</p>
        <button type="button" class="aprobar-inventoryOrder btn btn-success">Aprobar</button>
        <button type="button" class="span-close btn btn-primary">Cancelar</button>
    </div>
  </div>
</div>

<div id="myModal2" class="modal1">
  <!-- Modal content

  -->

<!--
  <div class="modal-content">
    <span class="span-close close">&times;</span>
    <div class="modeal-center-content">
        <p>¿Seguro que desea rechazar la muestra seleccionada?</p>
        <button type="button" class="rechazar-inventoryOrder btn btn-danger" style="margin-right: 0.2cm;">Rechazar</button>
        <button type="button" class="span-close btn btn-primary" style="margin-left: 0.2cm;">Cancelar</button>
    </div>
  </div>
</div>
{% endblock page_content %}

{% block custom_js %}

<!--Modal 1 para poder aprobar una solicitud
-->
<!--
<script>
$( document ).ready(function() {
  $(".myBtn1").click(function() {
    $("#myModal1").show();
    var aprobar_url = $(this).attr("data-url");
    //window.alert(aprobar_url);
    $(".aprobar-inventoryOrder").click(function() {
      window.location.href = aprobar_url;
    });
  });

  $(".span-close").click(function() {
    $("#myModal1").hide();
  });
});
$(".myBtn1").click(function(event) {
  event.preventDefault();
  return false;
});
</script>
<!--Modal2, con myBtn2-->

<!--
<script>
$( document ).ready(function() {
  $(".myBtn2").click(function() {
    $("#myModal2").show();
    var rechazar_url = $(this).attr("data-url");
    $(".rechazar-inventoryOrder").click(function() {
      window.location.href = rechazar_url;
    });
  });

  $(".span-close").click(function() {
    $("#myModal2").hide();
  });
});
$(".myBtn2").click(function(event) {
  event.preventDefault();
  return false;
});
</script>

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
<script src="{{ static('js/datatable-config.js') }}"></script>
<script>
$('#employee_table').DataTable({
  responsive: true,
});
</script>
{% endblock custom_js %}

-->
