<!--Inicio de cabecera-->

{% extends 'internal/base_internal.html' %}

{% block title %}{{ super() }} | Aplicaciones {% endblock title %}

{% block custom_css %}{% endblock custom_css %}
<!--Fin de cabecera-->



{% block page_content %}
<div class="row border-bottom white-bg dashboard-header">
    <div class="col-md-6">
        <h2><strong>Detalle del Solicitud de Almacenamiento</strong></h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" >
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                    <div class="row">
                      <div class="col-lg-6">

                        <div class="ibox">
                          <div class="ibox-title">
                            Ensayo
                          </div>
                          <div class="ibox-content">
                            <div class="form-group">
                              <label>Nombre del Ensayo</label>
                              <input class="form-control" value="{{ inventoryOrder.essay.essay.name }}" name="NameEssay" disabled="true" type="text">
                            </div>
                            <div class="form-group">
                              <label>Descripción del Ensayo</label>
                              <input class="form-control" value="{{ inventoryOrder.essay.essay.description }}" name="NameDescription" disabled="true" type="text">
                            </div>
                          </div>
                        </div>

                        <div class="ibox">
                          <div class="ibox-title">
                            Muestra
                          </div>
                          <div class="ibox-content">
                            <div class="form-group">
                              <label>Codigo de la Muestra</label>
                              <input class="form-control" value="{{ inventoryOrder.essay.sample.code }}" name="SampleCode" disabled="true" type="text">
                            </div>
                            <div class="form-group">
                              <label>Nombre de la Muestra</label>
                              <input class="form-control" value="{{ inventoryOrder.essay.sample.name }}" name="SampleName" disabled="true" type="text">
                            </div>
                            <div class="form-group">
                              <label>Tipo de la Muestra</label>
                              <input class="form-control" value="{{ inventoryOrder.essay.sample.sample_type.name }}" name="SampleTypeName" disabled="true" type="text">
                            </div>
                            <div class="form-group">
                              <label>Laboratorio</label>
                              <input class="form-control" value="{{ inventoryOrder.essay.sample.inventory.name }}" name="SampleLaboratory" disabled="true" type="text">
                            </div>
                          </div>
                        </div>

                        <div class="ibox">
                          <div class="ibox-title">
                            Solicitud
                          </div>
                          <div class="ibox-content">
                            <div class="form-group">
                              <label>Cliente</label>
                              <input class="form-control" value="{{ inventoryOrder.essay.sample.request.client }}" name="RequestClient" disabled="true" type="text">
                            </div>
                            <div class="form-group">
                              <label>Prioridad</label>
                              <input class="form-control" value="{{ inventoryOrder.essay.sample.request.priority }}" name="RequestPriority" disabled="true" type="text">
                            </div>
                            <div class="form-group">
                              <label>Supervisor</label>
                              <input class="form-control" value="{{ inventoryOrder.essay.sample.request.supervisor }}" name="RequestSupervisor" disabled="true" type="text">
                            </div>
                            <div class="form-group">
                              <label>Estado de la solicitud</label>
                              <input class="form-control" value="{{ inventoryOrder.essay.sample.request.state }}" name="RequestState" disabled="true" type="text">
                            </div>
                            <div class="form-group">
                              <label>Observaciones</label>
                              <input class="form-control" value="{{ inventoryOrder.essay.sample.request.observations or '-' }}" name="RequestObservations" disabled="true" type="text">
                            </div>
                          </div>
                        </div>

                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label>Metodos de Ensayo</label>
                          <select name="laboratory" class="form-control" multiple disabled="True">
                            {% for actual_essay_methods in inventoryOrder.essay.essay.essay_methods.all() %}
                            <option value="{{ actual_essay_methods.id }}">{{ actual_essay_methods.name }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>
            </div>
        </div>
    </div>
  <div class="text-center">
    <a class="btn btn-success js-back-btn">
      <i class="fa fa-arrow-left"></i>
      Volver
    </a>
  </div>
</div>
    </div>
</div>



{% endblock page_content %}


{% block base_js %}
{{ super() }}
{% endblock base_js %}

