<div class="modal-dialog">
  <div class="modal-content animated bounceInRight">
    <div class="modal-header">
      <h4 class="modal-title">Asignar muestra <em>{{ sample.name }}</em> a un empleado</h4>
    </div>
    <div class="modal-body">
      <div class="alert alert-danger form-errors"></div>
      <div class="alert alert-success form-success"></div>
      {% if assigned_employee %}
        <p>Muestra asignada actualmente al empleado:
          <strong>{{ assigned_employee.user.get_full_name() or assigned_employee.user.username }}</strong>
        </p>
      {% endif %}
      <form action="{{ url('internal:servicerequest.assign_employee', request_id=service_request.id, sample_id=sample.id) }}"
            id="assign-employee-form"
            method="POST"
            data-toggle="validator">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group has-feedback">
            <label for="{{ field.field.widget.attrs.get('name') }}">{{ _(field.label) }}</label>
            {{ field.as_widget(attrs={
                  'data-error': 'Este campo es obligatorio',
                  'class': 'form-control',
              })
            }}
            <div class="help-block with-errors"></div>
          </div>
        {% endfor %}
      </form>
    </div>
    <div class="modal-footer text-center">
      <input type="submit" class="btn btn-primary" value="Aceptar" form="assign-employee-form">
      <a class="btn btn-default" data-dismiss="modal">Cancelar</a>
    </div>
  </div>
</div>
