{% extends 'internal/base_internal.html' %}

{% block title %}{{ super() }} | Solicitudes{% endblock title %}

{% block custom_css %}
<style>
.alert { display: none; }
</style>
{% endblock custom_css %}

{% block page_content %}
<div class="row border-bottom white-bg dashboard-header">
  <div class="col-md-6">
    <h2><strong>Modificar Solicitud</strong></h2>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <a href="{{ url('internal:servicerequest.quotation', request_id=pk) }}" class="btn btn-primary">
          Ver Cotización
        </a>
        <a href="{{ url('internal:serviceRequest.attachmentList', id=pk) }}" class="btn btn-primary">
          Adjuntar Archivos
        </a>
      </div>
      <div class="ibox-content">
        {{ form.errors }}
        <form id='requestform' action="{{ url('internal:servicerequest.edit',pk=pk) }}" method="post" data-toggle="validator">
          {% csrf_token %}
            <div class="row">
              <div class="col-lg-6">
              <div class="form-group">
                <label>Cliente</label>
                <select name="client" data-error="Este campo es obligatorio" required="" id="id_client" class="form-control">
                  {% for client in clients %}
                      <option value="{{ client.id }}" {% if service_request.client == client %}selected{% endif %} >
                        {{ client }}
                      </option>
                  {% endfor %}
                </select>
                 <div class="help-block with-errors"></div>
              </div>
              <div class="form-group">
                <label>Supervisor</label>
                <select name="supervisor" data-error="Este campo es obligatorio" required="" id="id_supervisor" class="form-control">
                  {% for employee in employees %}
                      <option {% if service_request.supervisor == employee %}selected{% endif %} value="{{ employee.id }}">
                        {{ employee }}
                      </option>
                  {% endfor %}
                </select>
                  <div class="help-block with-errors"></div>
              </div>
              <div class="form-group">
                <label>Estado</label>
                <select name="state" data-error="Este campo es obligatorio" required="" id="id_state" class="form-control">
                  {% for state in states %}
                  <option {% if service_request.state.id== state.id %}selected{% endif %} value="{{ state.id }}">
                    {{ state.description }}
                  </option>
                  {% endfor %}
                </select>
                  <div class="help-block with-errors"></div>
              </div>
              <div class="form-group">
                <label>Observaciones</label>
                <input value="{{ service_request.observations or '' }}" type="text" name="observations" data-error="Este campo es obligatorio" id="id_observations" class="form-control">
                  <div class="help-block with-errors"></div>
              </div>
              <div class="form-group">
                <label>Duracion Esperada</label>
                <input value="{{ service_request.expected_duration }}" min="0" type="number" name="expected_duration" data-error="Este campo es obligatorio" required="" id="id_expected_duration" class="form-control">
                  <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <input name="a" value="option1" id="check_service_provider" type="checkbox" class="i-checks" {% if service_request.external_provider %}checked{% endif %}>
                <label>Tercerizar Servicio</label>
              </div>
              <div class="form-group" id="servide_provider_input" style="display: none;">
                <label>Proveedores</label>
                <select name="external_provider" data-error="Este campo es obligatorio" id="id_state" class="form-control">
                  <option value="" >---------</option>
                  {% for external_provider in external_providers %}
                      <option {% if service_request.external_provider.id == external_provider.id %}selected{% endif %} value="{{ external_provider.id }}">
                        {{ external_provider.name }}
                      </option>
                  {% endfor %}
                </select>
                  <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>
        {% if samples %}
          <div class="form-group">
            <label>Muestras</label>
          </div>
        {% endif %}
        {% for sample in samples %}
        <div class="row">
          <div class="col-lg-12">
            <table class="table table-bordered table-hover sample-table">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Muestra</th>
                  <th>Tipo de Muestra</th>
                  <th>Nombre de Ensayo: {{ essays[loop.index-1] }}</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ sample.id }}</td>
                  <td>{{ sample.name }}</td>
                  <td>{{ sample.sample_type.name }}</td>
                  <td>
                    <table class="table table-bordered table-hover essaymethod-table">
                      <thead>
                        <tr>
                          {% for essay_method_fill in essays_methods[loop.index-1] %}
                          <th>{{ essay_method_fill.essay_method.name }}</th>
                          {% endfor %}
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          {% for essay_method_active in essay_methods_chosen_forms[loop.index-1] %}
                            <td data-id="{{ essay_method_active.instance.id }}">
                              <div class="form-group">
                                <label>{{ essay_method_active.chosen.label }}</label>
                                {{ essay_method_active.chosen.as_widget(attrs={'class': 'i-checks'}) }}
                              </div>
                            </td>
                          {% endfor%}
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td>
                    <a class="btn-white btn btn-xs" href="{{ url('internal:servicerequest.edit_sample',pk,sample.id) }}">Editar</a>
                    <a class="btn-white btn btn-xs" href="{{ url('internal:servicerequest.delete_sample',pk,sample.id) }}">Eliminar</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        {% endfor %}
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Conceptos Adicionales</label>
            </div>
            {{ extra_concept_formset.management_form }}
            <div class="table-responsive">
              <table class="table table-bordered table-hover extra-concept-table" data-form-prefix="{{ extra_concept_formset.prefix }}">
                <thead>
                  <tr>
                    <th>Descripción</th>
                    <th>Costo</th>
                    <th>Cantidad</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% for concept in extra_concept_formset.forms %}
                    <tr class="extra-concept-formset">
                      {% for field in concept.hidden_fields() %}
                        {{ field }}
                      {% endfor %}
                      {% if form.instance.pk %}{{ concept.DELETE.as_hidden() }}{% endif %}
                      <td>{{ concept.description }}</td>
                      <td>{{ concept.amount }}</td>
                      <td>{{ concept.quantity }}</td>
                      <td></td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-12 row form-group">
          <p><strong>(*) Campos obligatorios</strong></p>
        </div>
        <div class="row">
          <div class="col-lg-6 col-lg-offset-3">
            <div class="text-center">
              <input type="submit" value="Registrar" class="btn btn-primary" form="requestform">
              <a href="{{ url('internal:servicerequest.add_sample',pk)}}" class="btn btn-primary">Añadir Prueba</a>
              <a value="Registrar" class="btn btn-white" href="{{ url('internal:servicerequest.select_client') }}">Cancelar</a>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
{% endblock page_content %}

{% block custom_js %}
<script>
if($('#check_service_provider').prop('checked'))
  $('#servide_provider_input').show();
else
  $('#servide_provider_input').hide();
$('#check_service_provider').on('ifChanged', function() {
  $('#servide_provider_input').toggle();
});
$('.extra-concept-formset').formset({
  prefix: $(this).data('form-prefix'),
  addCssClass: 'btn btn-primary fa fa-plus',
  addText: '',
  deleteCssClass: 'btn btn-danger fa fa-minus',
  deleteText: '',
});
</script>
{% endblock custom_js %}
