{% extends 'internal/base_internal.html' %}

{% block title %}{{ super() }} | Empleados{% endblock title %}

{% block custom_css %}{% endblock custom_css %}

{% block page_content %}
<div class="row border-bottom white-bg dashboard-header">
    <div class="col-md-6">
        <h2><strong>Editar Archivo</strong></h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" >
  <div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
				<form method="post" enctype="multipart/form-data">
					{% csrf_token %}
                    <div class="row">
                        <div class="col-lg-12">
                            {% if "." not in selected_file.fileName %}
                              <div class="form-group">
                                <label>Nombre de archivo</label>
                                <br>
								<input value="{{ selected_file.fileName }}" name="nombreArchivoInput" id="nombreArchivoInputID">
                              </div>
                            {% else%}
                              <div class="form-group">
                                <label>Nombre de archivo</label>
                                <br>
								<input value="{{ selected_file.fileName[:(selected_file.fileName.rfind("."))] }}" maxlength="95" type="text" class="form-control" name="nombreArchivoInput" id="nombreArchivoInputID">
                              </div>
                            {% endif %}
                            <div class="form-group">
                              <label>Descripción</label>
                              {% if selected_file.description %}
                                <br>
								<input value="{{ selected_file.description}}" type="text" class="form-control" maxlength="95" name="descripcionInput" id="descripcionInputID">
                              {% else %}
								<br>
								<input value="" name="descripcionInput" id="descripcionInputID">
                              {% endif%}
                            </div>
                        </div>
                    </div>
					<div>
						<button name="b_cancel" id="cancel" class="btn btn-w-m btn-white" ><span class="bold" >Regresar</span></button>
						<button type="submit" name="b_save" id="guardar" class="btn btn-primary" ><span class="bold">Guardar Cambios</span></button>
					</div>
				</form>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="message-container hidden">
  <ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} data-tags="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
</div>
{% endblock page_content %}

{% block custom_js %}
<script>
if ($('.message-container .messages li')) {
  var msg = $('.message-container .messages li').first();
  $.extend(toastr.options, {"positionClass": "toast-bottom-right",});
  try {
    toastr[msg.data('tags')](msg.text());
  } catch (TypeError) {}
}
$('#attachment-table').DataTable({
  responsive: true,
});
</script>

{% endblock custom_js %}

