{% extends 'internal/base_internal.html' %}

{% block title %}{{ super() }} | Solicitudes{% endblock title %}

{% block custom_css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
{% endblock custom_css %}

{% block page_content %}

<div class="row border-bottom white-bg dashboard-header">
    <div class="col-md-6">
        <h2><strong>Listado de Archivos de la Solicitud</strong></h2>
    </div>
</div>
<div class="wrapper wrapper-content animated" >
  <div class="row">
    <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-right">
              <a class="btn btn-primary" href="{{ url('internal:serviceRequest.upload',serviceRequest.pk) }}">Añadir Archivo</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="attachment-table">
              <thead>
                <tr>
                  <th>
                    Nombre de Archivo
                  </th>
                  <th>
                    Tipo de Archivo
                  </th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>
                {% for requestAttachment in requestAttachment_list %}
                  <tr role="row">
                    {% if "." not in requestAttachment.fileName %}
                    <td>{{ requestAttachment.fileName }}</td>
                    <td>Tipo desconocido</td>
                    {% else%}
                    <td>{{ requestAttachment.fileName[:(requestAttachment.fileName.rfind("."))] }}</td>
                    <td>{{ requestAttachment.fileName.split(".")[-1]}}</td>
                    {% endif %}
                    <td class="text-left footable-visible footable-last-column">
                      <div class="btn-group">
                        <a href="{{ url('internal:serviceRequest.downloadAttachedFile', requestAttachment.pk) }}" class="btn-white btn btn-xs"><i class="fa fa-download" aria-hidden="true"></i></a>
                        <a href="{{ url('internal:serviceRequest.showAttachedFile', requestAttachment.pk) }}" class="btn-white btn btn-xs"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a class="myBtn1 btn-white btn btn-xs" data-toggle="modal" data-target="#myModal1" data-url="{{ url('internal:serviceRequest.deleteAttachedFile', requestAttachment.pk) }}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<div id="myModal1" class="modal1">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="span-close close">&times;</span>
    <div class="modeal-center-content">
        <p>¿Seguro que quiere eliminarlo?</p>
        <button type="button" class="delete-attachedFile btn btn-danger">Eliminar</button>
        <button type="button" class="span-close btn btn-primary">Cancelar</button>
    </div>
  </div>
</div>

<div class="message-container hidden">
  <ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} data-tags="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
</div>

{% endblock page_content %}

{% block custom_js %}
<script>
$( document ).ready(function() {
  $(".myBtn1").click(function() {
    $("#myModal1").show();
    var delete_url = $(this).attr("data-url");
    $(".delete-attachedFile").click(function() {
      window.location.href = delete_url;
    });
  });

  $(".span-close").click(function() {
    $("#myModal1").hide();
  });
});
$(".myBtn1").click(function(event) {
  event.preventDefault();
  return false;
});
</script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="{{ static('js/datatable-config.js') }}"></script>
<script>
if ($('.message-container .messages li')) {
  var msg = $('.message-container .messages li').first();
  $.extend(toastr.options, {"positionClass": "toast-bottom-right",});
  try {
    toastr[msg.data('tags')](msg.text());
  } catch (TypeError) {}
}
$('#attachment-table').DataTable({
  responsive: true,
});
</script>
{% endblock custom_js %}
