{% extends 'internal/base_internal.html' %}
{% block title %}{{ super() }} | Inicio{% endblock title %}
{% block custom_css %}{% endblock custom_css %}
{% block page_content %}
<div class="row border-bottom white-bg dashboard-header">
   <div class="col-md-6">
      <h2><strong>Listado de Solicitudes</strong></h2>
   </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" >
   <div class="col-lg-12">
      <div class="ibox float-e-margins">
         <div class="ibox-content">
            <div class="col-lg-12">
               <div class="text-right">
                  <a class="btn btn-primary" href="{{ url('internal:servicerequest.select_client') }}">Crear Solicitud</a>
               </div>
            </div>
            <table class="footable table table-stripped toggle-arrow-tiny footable-loaded tablet breakpoint">
               <thead>
                  <tr>
                     <th class="footable-visible footable-sortable">Id</th>
                     <th class="footable-visible footable-sortable">Cliente</th>
                     <th class="footable-visible footable-sortable">Responsable</th>
                     <th class="footable-visible footable-sortable">Editar/Eliminar</th>
                  </tr>
               </thead>
               <tbody>
                  {% for request in requests %}
                  <tr>
                     <td>{{ request.id }}</td>
                     <td>{{ request.client }}</td>
                     <td>{{ request.supervisor }}</td>
                     <td><a class="btn-white btn btn-xs" href="{{ url('internal:servicerequest.edit', request.id) }}">Editar</a>
                         <a class="btn-white btn btn-xs" href="{{ url('internal:servicerequest.delete', request.id) }}">Eliminar</a></td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
{% endblock page_content %}