{% block page_content %}
<font size = "5" face="Arial">
<div class="row border-bottom white-bg dashboard-header">
    <div class="col-md-6">
      <strong><font size = 7><center><u>REPORTE INTERNO</u></center></font></strong><br>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" >
  <div class="row">
    <div class="col-lg-12">
      <label><b>1. <u>INFORMACIÓN DE LA SOLICITUD</u></b></label>
      <div style="padding-left: 1.7em;">
        <label>Fecha de Registro: {{SampleCompleteList[0].request.registered_date.strftime('%d/%m/%Y')}}</label> <br>
        {% if SampleCompleteList[0].request.client is not None %}
        <label>Nombre del Cliente: {{SampleCompleteList[0].request.client}}</label>
        {% else %}
        <label>Nombre del Cliente: No registrado </label>
        {% endif %}
        <br>
        {% if SampleCompleteList[0].request.supervisor != None %}
        <label>Nombre del Supervisor: {{SampleCompleteList[0].request.supervisor}}</label>
        {% else %}
        <label>Nombre del Supervisor: No registrado</label>
        {% endif %}
        <br>
        {% if SampleCompleteList[0].request.observations != None %}
        <label>Observaciones: {{SampleCompleteList[0].request.observations}}</label>
        {% else %}
        <label>Observaciones: Sin observaciones</label>
        {% endif %}
        <br>
        </div>
        <br>
        <label><b>2. <u>MUESTRAS</u></b></label>
        <table border=1 cellpadding= 6>
          <thead>
            <tr role="row">
              <th>
                Código del Solicitante
              </th>
              <th>
                Código del Laboratorio
              </th>
              <th>
                Descripción
              </th>
            </tr>
            </thead>
            {% for sample in SampleCompleteList  %}
            <tbody>
                <tr role="row">
                  <td align="center">{{sample.name}}</td>
                  <td align="center">{{sample.code}}</td>
                  <td align="center">sample.description</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% for i in range(SampleCompleteList|length) %}
        <br>
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-6">
                          <label><b>2.{{i+1}}. <u>Muestra "{{SampleCompleteList[i].code}}"</u></b></label>
                          <br>
                           <div style="padding-left: 1.7em;"><label><b>Observaciones: </b> SampleCompleteList[i].observations</label></div>
                          {% for j in range(EssayFillCompleteList[i]|length) %}
                            <br>
                            <label><b>2.{{i+1}}.{{j+1}}. <u>Ensayo "{{EssayFillCompleteList[i][j].essay.name}}"</u></b></label>
                            <br>
                           <div style="padding-left: 1.7em;"><label><b>Descripción del Ensayo:</b> {{EssayFillCompleteList[i][j].essay.description}}</label>
                            <br>
                             <label><b>Observaciones del Ensayo: </b> EssayFillCompleteList[i][j].observations</label></div>
                            {% for h in range(MethodFillCompleteList[i][j]|length)%}
                          <br>
                          <label><b>2.{{i+1}}.{{j+1}}.{{h+1}}. <u>Método de Ensayo "{{MethodFillCompleteList[i][j][h].essay_method.name}}"</u></b></label>
                            <br>
                            <div style="padding-left: 1.7em;"><label><b>Descripción del Método: </b>{{MethodFillCompleteList[i][j][h].essay_method.description}}</label>
                            <br><br>
                              <label><b>Resultados del Método:</b></label></div>
                              <table border=1 cellpadding= 6>
                                <thead>
                                  <tr role="row">
                                    <th>
                                      Método {{MethodFillCompleteList[i][j][h].pk}}
                                    </th>
                                    <th width = 120>
                                      Valor
                                    </th>
                                    <th width = 120>
                                      Incertidumbre
                                    </th>
                                  </tr>
                                  </thead>
                                  {% for parameterFill in ParameterFillCompleteList[i][j][h] %}
                                  <tbody>
                                      <tr role="row">
                                        <td align="left">{{parameterFill.parameter.description}}</td>
                                        <td align="right">{{parameterFill.value}}</td>
                                        <td align="right">{{parameterFill.uncertainty}}</td>
                                      </tr>
                                  {% endfor %}
                                  </tbody>
                              </table>
                          <br>
                              <div style="padding-left: 1.7em;"><label><b>Observaciones:</b> MethodFillCompleteList[i][j][h].observations </label></div>
                            {% endfor %}
                          {% endfor %}
                    </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
</div>
</font>
{% endblock page_content %}
