{% extends 'internal/base_internal.html' %}

{% block title %}{{ super() }} | Solicitudes{% endblock title %}

{% block custom_css %}
<style>
.alert { display: none; }
</style>
{% endblock custom_css %}

{% block page_content %}
<div class="row border-bottom white-bg dashboard-header">
  <div class="col-md-6">
    <h2><strong>Detalle Solicitud</strong></h2>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <form id='requestform' action="{{ url('internal:servicerequest.edit',pk=pk) }}" method="post" data-toggle="validator">
          {% csrf_token %}
            <div class="row">
              <div class="col-lg-6">
              <div class="form-group">
                <label>Cliente</label>
                <select disabled name="client" data-error="Este campo es obligatorio" required="" id="id_client" class="form-control">
                      <option value="{{ client.id }}">{{ client }}</option>
                </select>
                 <div class="help-block with-errors"></div>
              </div>
              <div class="form-group">
                <label>Supervisor</label>
                <select disabled name="supervisor" data-error="Este campo es obligatorio" required="" id="id_supervisor" class="form-control">
                  {% for employee in employees %}
                      <option {% if service_request.supervisor.id == employee.id %}selected{% endif %} value="{{ employee.id }}">
                        {{ employee }}
                      </option>
                  {% endfor %}
                </select>
                  <div class="help-block with-errors"></div>
              </div>
              <div class="form-group">
                <label>Estado</label>
                <select disabled name="state" data-error="Este campo es obligatorio" required="" id="id_state" class="form-control">
                  {% for state in states %}
                      <option {% if service_request.state.id == state.id %}selected{% endif %} value="{{ state.id }}">
                        {{ state.description }}
                      </option>
                  {% endfor %}
                </select>
                  <div class="help-block with-errors"></div>
              </div>
              <div class="form-group">
                <label>Observaciones</label>
                <input disabled value="{{ service_request.observations or '' }}" type="text" name="observations" data-error="Este campo es obligatorio" id="id_observations" class="form-control">
                  <div class="help-block with-errors"></div>
              </div>
              <div class="form-group">
                <label>Duracioón Esperada</label>
                <input disabled value="{{ service_request.expected_duration }}" type="number" name="expected_duration" data-error="Este campo es obligatorio" required="" id="id_expected_duration" class="form-control">
                  <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <input name="a" value="option1" id="check_service_provider" type="checkbox" class="i-checks" {% if service_request.external_provider %}checked{% endif %} disabled>
                <label>Tercerizar Servicio</label>
              </div>
              <div class="form-group" id="servide_provider_input" style="display: none;">
                <label>Proveedor:</label>
                <select disabled name="external_provider" data-error="Este campo es obligatorio" id="id_state" class="form-control">
                  <option value="" >---------</option>
                  {% for external_provider in external_providers %}
                      <option value="{{ external_provider.id }}" {% if service_request.external_provider.id == external_provider.id %}selected{% endif %}>
                        {{ external_provider.name }}
                      </option>
                  {% endfor %}
                </select>
                  <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>
        {% if samples %}
          <div class="form-group">
            <label>Muestras</label>
          </div>
        {% endif %}
        {% for sample in samples %}
        <div class="row">
          <div class="col-lg-12">
            <table class="table table-bordered sample-table">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Muestra</th>
                  <th>Tipo de Muestra</th>
                  <th>Nombre de Ensayo: {{ essays[loop.index-1] }}</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ sample.id }}</td>
                  <td>{{ sample.name }}</td>
                  <td>{{ sample.sample_type.name }}</td>
                  <td>
                    <table class="table table-bordered essaymethod-table">
                      <thead>
                        <tr>
                          {% for essay_method_fill in essays_methods[loop.index-1] %}
                          <th>{{ essay_method_fill.essay_method.name }}</th>
                          {% endfor %}
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          {% for essay_method_active in essay_methods_chosen_forms[loop.index-1] %}
                            <td data-id="{{ essay_method_active.instance.id }}">
                              <div class="form-group">
                                <label>{{ essay_method_active.chosen.label }}</label>
                                {{ essay_method_active.chosen.as_widget(attrs={
                                  'disabled': True,
                                  'class': 'i-checks'
                                }) }}
                              </div>
                            </td>
                          {% endfor%}
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td>
                    {# <a class="btn-white btn btn-xs" href="{{ url('internal:servicerequest.edit_sample',pk,sample.id) }}">Editar</a>
                    <a class="btn-white btn btn-xs" href="{{ url('internal:servicerequest.delete_sample',pk,sample.id) }}">Eliminar</a> #}
                    <a class="btn btn-white btn-xs btn-assign-employee"
                       data-toggle="modal"
                       data-target="#assign-employee-modal"
                       data-url="{{ url('internal:servicerequest.assign_employee', request_id=pk, sample_id=sample.id) }}">
                       <span>
                        Asignar Empleado
                       </span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        {% endfor %}
        {% if service_request.quotation.extra_concepts.exists() %}
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Conceptos Adicionales</label>
              </div>
              <div class="table-responsive">
                <table class="table table-bordered table-hover extra-concept-table">
                  <thead>
                    <tr>
                      <th>Descripción</th>
                      <th>Costo</th>
                      <th>Cantidad</th>
                      {# <th>Acciones</th> #}
                    </tr>
                  </thead>
                  <tbody>
                    {% for concept in service_request.quotation.extra_concepts.all() %}
                      <tr class="extra-concept-formset">
                        <td>{{ concept.description }}</td>
                        <td>{{ concept.amount }}</td>
                        <td>{{ concept.quantity }}</td>
                        {# <td></td> #}
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        {% endif %}
        <div class="row">
          <div class="col-lg-6 col-lg-offset-3">
            <div class="text-center">
              <a href="{{ url('internal:servicerequest.edit',pk)}}" class="btn btn-primary">
                <i class="fa fa-edit"></i>
                Editar
              </a>
              {# <a href="{{ url('internal:servicerequest.index')}}" >Atrás</a> #}
              <a href="" class="btn btn-primary" onClick="javascript:history.go(-1);">
                <i class="fa fa-arrow-left"></i>
                Atrás
              </a>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<div class="modal inmodal" id="assign-employee-modal" tabindex="-1" role="dialog" aria-hidden="true">
</div>
{% endblock page_content %}

{% block custom_js %}
<script>
if($('#check_service_provider').prop('checked'))
  $('#servide_provider_input').show();
else
  $('#servide_provider_input').hide();

$('#assign-employee-modal').on('show.bs.modal', function (e) {
  var $btn = $(e.relatedTarget);
  var $modal = $(this);
  var url = $btn.data('url');
  var allMethods = $btn.parents('tr').find('.essaymethod-table td');
  console.log(allMethods);
  var methods = allMethods.map(function (index, elem) {
    console.log(elem);
    // return 1;
    return {
      id: $(elem).data('id'),
      checked: $(elem).find('input').is(':checked'),
    }
  });
  console.log(methods);
  var methodStr = JSON.stringify($(methods).get());
  $btn.data('methods', methodStr);
  $.ajax({
    url: url,
    data: {
      methods: methodStr,
    },
  }).done(function (response) {
    $modal.html(response);
    $('#assign-employee-form').validator();
    $modal
      .find('.method-container')
      .data('methods', methodStr)
      .data('row', $btn.data('row'));
  });
});
$(document).on('submit', '#assign-employee-form', function (e) {
  e.preventDefault();
  var $form = $(e.target);
  var $modal = $('#assign-employee-modal');
  console.log($form.get().data);
  var $methodContainer = $modal.find('.method-container');
  var $table = $($('.essaymethod-table')[$methodContainer.data('row')]);
  var allMethods = $table.find('td');
  var methods = allMethods.map(function (index, elem) {
    console.log(elem);
    // return 1;
    return {
      id: $(elem).data('id'),
      checked: $(elem).find('input').is(':checked'),
    }
  });
  var methodStr = JSON.stringify($(methods).get());
  $form.append($('<input>', {
    type: 'hidden',
    name: 'methods',
    value: methodStr,
  }));
  $.ajax({
    url: $form.get(0).action,
    method: $form.get(0).method,
    data: $form.serialize(),
  }).done(function (response) {
    $modal.find('.alert').hide();
    if (!response.success) {
      $modal.find('.form-errors').html(response.errors).fadeIn();
      return;
    }
    $modal.find('.form-success').html(response.message).fadeIn();
    // $modal.find)
    setTimeout(function () {
      // $modal.modal('hide');
      if (response.redirect) {
        window.location.assign(response.redirect);
      }
    }, 1500);
  });
});
$('#assign-employee-modal').on('hidden.bs.modal', function () {
  var $modal = $(this);
  $modal.find('.alert').hide();
});
$('.btn-assign-employee').each(function (index, elem) {
  var $btn = $(elem);
  update_assign_btn($btn);
});
$('.essaymethod-table .i-checks[type="checkbox"]').on('ifChanged', function () {
  var $btn = $(this).parents('.sample-table').find('.btn-assign-employee');
  update_assign_btn($btn);
});
function update_assign_btn($btn) {
  var $sampleTable = $btn.parents('.sample-table');
  var $essayMethodTable = $sampleTable.find('.essaymethod-table');
  var $checkedMethods = $essayMethodTable.find('[type="checkbox"]:checked');
  console.log($btn.prop('disabled', true).find('span'));
  if ($checkedMethods.length == 0) {
    $btn.prop('disabled', true).find('span').tooltip();
  } else {
    $btn.prop('disabled', false).find('span').tooltip('destroy');
  }
}
</script>
{% endblock custom_js %}
