{% extends 'internal/base_internal.html' %}

{% block title %}{{ super() }} | Solicitudes{% endblock title %}

{% block custom_css %}{% endblock custom_css %}

{% block page_content %}
<div class="row border-bottom white-bg dashboard-header">
  <div class="col-md-6">
    <h2><strong>Crear nuevo Cliente</strong></h2>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <form id='clientform' action="{{ url('internal:client.create') }}" method="post" data-toggle="validator">
            {% csrf_token %}
            {% for field in user_form|list + form|list if field.name != 'password2' %}
            <div class="form-group">
                {% if field.label == 'Doc number' %}
                  <label>Nro de Documento</label>
                {% elif field.label == 'Phone number' %}
                  <label>Telefono</label>
                {% else %}
                  <label>{{field.label}}</label>
                {% endif %}
                {% if field.field.required %}*{% endif %}
                {% if field.label == 'Doc number' %}
                <div class="form-inline">
                  <div class = "form-group">
                    <select id ="targetSelect" class="form-control">
                      <option> - </option>
                      <option value="ruc"> RUC </option>
                      <option value="dni"> DNI </option>
                    </select>
                    <input type="text" id="id_doc_number" class="form-control" name="doc_number" data-required-error="Este campo es obligatorio" data-validate-doc-number="" required="">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                {% else %}
                  {{ field.as_widget(attrs={'data-error':"Este campo es obligatorio",'class':"form-control"})}}
                  <div class="help-block with-errors"></div>
                {% endif %}
            </div>
            {% endfor %}
          </form>

          <div class="form-group">
            <p><strong>(*) Campos obligatorios</strong></p>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <input type="submit" value="Registrar" class="btn btn-primary" form='clientform'>
              <a class="btn btn-white" href="{{ url('internal:client.index')}}">Cancelar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock page_content %}

{% block custom_js %}
<script src="{{ static('js/validators.js') }}"></script>
<script>
$('#targetSelect').on('change', function () {
  $("#id_doc_number").data('type', $(this).val());
})
$('#clientform').validator({
  custom: {
    'validate-doc-number': docNumberValidator,
  },
});
</script>
{% endblock custom_js %}
