{% extends 'internal/base_internal.html' %}

{% block title %}{{ super() }} | Roles{% endblock title %}

{% block custom_css %}
<link href="{{ static('vendors/footable/footable.core.css') }}" rel="stylesheet">
{% endblock custom_css %}

{% block page_content %}
<div class="row border-bottom white-bg dashboard-header">
    <div class="col-md-6">
        <h2><strong>Lista de Roles</strong></h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="col-lg-2 col-lg-offset-10">
    <a class="btn btn-primary pull-right" href="{{ url('internal:role.create') }}">
      <i class="fa fa-plus"></i>
      Crear Rol
    </a>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" >
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <div class="table-responsive">
          <form action="{{ url('internal:role.index') }}" method="get" >
          <a class="btn btn-primary pull-right" href="{{ url('internal:role.create') }}"><i class="fa fa-plus"></i> Crear Rol</a>
          </form>
          <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
             <div class="input-group">
                 <input type="text" class="form-control input-sm m-b-xs" id="mysearch" placeholder="Buscar">
                <span class="input-group-addon">
                    <i class="fa fa-search"></i>
                </span>
              </div>
            <table class="table table-striped table-bordered table-hover dataTables-example display dataTable fn.dataTable.defaults" id="DataTables_Table_0">
              <thead>
                <tr role="row">
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" >
                    N°
                  </th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">
                    Nombre
                  </th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">
                    Descripción
                  </th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">
                    Estado
                  </th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Acción</th>
                </tr>
              </thead>
              <tbody>
                {% for role in role_list %}
                  <tr role="row">
                    <td>{{ loop.index }}</td>
                    <td>{{ role.name }}</td>
                    <td>{{ role.description }}</td>
                    <td>
                      {% if role.deleted %}
                        Eliminado
                      {% else %}
                        Activo
                      {% endif %}
                    </td>
                    <td class="text-left footable-visible footable-last-column">
                      <div class="btn-group">
                        <a  href="{{ url('internal:role.show', role.id) }}" class="btn-white btn"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        {% if not role.deleted %}
                        <a  href="{{ url('internal:role.edit', role.id) }}" class="btn-white btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        <a class="myBtn1 btn-white btn" data-toggle="modal" data-target="#myModal1" data-url="{{ url('internal:role.delete', role.id) }}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                        {% endif %}
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="myModal1" class="modal1">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="span-close close">&times;</span>
    <div class="modeal-center-content">
        <p>¿Seguro que quiere eliminarlo?</p>
        <button type="button" class="delete-role btn btn-danger">Eliminar</button>
        <button type="button" class="span-close btn btn-primary">Cancelar</button>
    </div>
  </div>
</div>

<div class="message-container hidden">
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} data-tags="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
</div>
{% endblock page_content %}

{% block custom_js %}

<script type="text/javascript">
  if ($('.message-container .messages li')) {
  var msg = $('.message-container .messages li').first();
  $.extend(toastr.options, {"positionClass": "toast-bottom-right",});
  toastr[msg.data('tags')](msg.text());
}
</script>

<script type="text/javascript">
  var fill_Toastr = function(pMsg, pTypeMsg,pTitle){
    toastr.options = {
    closeButton: true,
    progressBar: true,
    showMethod: 'slideDown',
    positionClass: "toast-bottom-right",
    timeOut: 4000
    };

    switch(pTypeMsg){
      case "success":
      toastr.success(pMsg, '',pTitle);
      break;

      case "error":
      toastr.error(pMsg, '',pTitle);
      break;
    }
  }

</script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {

    // DataTable
    var table = $('#DataTables_Table_0').DataTable({
      "lengthChange": false,
      "bsort":true,
      "sDom": '<"top"i>rt<"bottom"lp><"clear">',
      "columnDefs": [
        { "orderable": false, "targets": 4 }
      ],
      "columnDefs": [
        { "searchable": false, "targets": 0 }
      ],
      "sPaginationType": "full_numbers",
      "pageLength": 6,
      "oLanguage": {
        "oPaginate": {
                    "sPrevious": " Anterior ",
                    "sNext" : " Siguiente ",
                    "sFirst": "<<",
                    "sLast": ">>"
                    },
        "sZeroRecords":    "No se encontraron resultados",
        "sEmptyTable":     "Ningún dato disponible en esta tabla",
        "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
        "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
        "oAria": {
        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
    }

       }

    });

    $('#mysearch').keyup(function(){
      table.search($(this).val()).draw() ;
})
} );

</script>
<script>
$( document ).ready(function() {
  $(".myBtn1").click(function() {
    $("#myModal1").show();
    var delete_url = $(this).attr("data-url");
    $(".delete-role").click(function() {
      window.location.href = delete_url;
    });
  });

  $(".span-close").click(function() {
    $("#myModal1").hide();
  });
});
$(".myBtn1").click(function(event) {
  event.preventDefault();
  return false;
});
</script>
{% endblock custom_js %}
